In [111]:
import os, csv
import random, pandas
import numpy as np

batch_size=64
filepath = os.path.join("../SDC", "data_train")
train_data_file = os.path.join(filepath, "train_data.csv")
n = sum(1 for line in open(train_data_file)) - 1 #number of records in file (excludes header)
skip = sorted(random.sample(range(1,n+1),n-batch_size)) #the 0-indexed header will not be included in the skip list
event_records = pandas.read_csv(train_data_file, skiprows=skip, engine='python')
hurt=['사망자수', '사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)',
       '사상자수', '중상자수', '경상자수', '부상자', '부상자 피해수준(하 0~5 / 중 6~18 / 상 19~)',
       '부상신고자수']
dead=['사망자수', '사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)']
event_records

,발생년,발생년월일시,발생년.1,발생월,발생일,발생시,발생분,"주야(6시,18시 기준)",오전/오후,요일,...,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도,가해자_피해자,가해자_도로형태,가해자_법규위반
0,2013,2013072011,2013,7,20,11,40,주간,오전,토,...,중형,보행자,보행자,959762,1958906,127.043985,37.628731,승용차_보행자,승용차_교차로_교차로내,승용차_안전운전 의무 불이행
1,2013,2013101918,2013,10,19,18,50,야간,오후,토,...,중형,보행자,보행자,912701,1971482,126.508369,37.739244,승용차_보행자,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
2,2012,2012042200,2012,4,22,0,3,야간,오전,일,...,중형,보행자,보행자,1119475,1758861,128.822850,35.819346,승용차_보행자,승용차_교차로_교차로내,승용차_안전운전 의무 불이행
3,2017,2017041410,2017,4,14,10,13,주간,오전,금,...,화물차,승용차,승용차,1179086,1751253,129.480453,35.741338,화물차_승용차,화물차_교차로_교차로내,화물차_안전운전 의무 불이행
4,2014,2014071413,2014,7,14,13,7,주간,오후,월,...,중형,특수차,대형,1076805,1662764,128.341231,34.956832,이륜차_특수차,이륜차_교차로_교차로부근,이륜차_안전운전 의무 불이행
5,2015,2015101316,2015,10,13,16,58,주간,오후,화,...,소형,보행자,보행자,948449,1943475,126.916866,37.489085,승용차_보행자,승용차_교차로_교차로부근,승용차_신호위반
6,2016,2016071320,2016,7,13,20,18,야간,오후,수,...,중형,보행자,보행자,973335,1927104,127.198957,37.342576,승용차_보행자,승용차_교차로_교차로부근,승용차_보행자 보호의무 위반
7,2013,2013101423,2013,10,14,23,15,야간,오후,월,...,원동기장치자전거,없음,없음,990575,1928766,127.393572,37.357892,원동기장치자전거_없음,원동기장치자전거_단일로_기타단일로,원동기장치자전거_안전운전 의무 불이행
8,2017,2017052818,2017,5,28,18,7,야간,오후,일,...,이륜차,승용차,승용차,962607,1951094,127.074705,37.559266,이륜차_승용차,이륜차_단일로_기타단일로,이륜차_안전운전 의무 불이행
9,2013,2013110606,2013,11,6,6,25,주간,오전,수,...,중형,건설기계,건설기계,962592,1947806,127.076623,37.528803,승용차_건설기계,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
10,2012,2012042121,2012,4,21,21,0,야간,오후,토,...,소형,승합차,대형,1074475,1793653,128.327754,36.137062,이륜차_승합차,이륜차_단일로_기타단일로,이륜차_안전운전 의무 불이행
11,2012,2012032619,2012,3,26,19,36,야간,오후,월,...,불명,불명,불명,1068347,1801048,128.260294,36.204178,불명_불명,불명_단일로_기타단일로,불명_기타(운전자법규위반)
12,2013,2013071105,2013,7,11,5,10,야간,오전,목,...,중형,보행자,보행자,946781,1941588,126.898120,37.472395,승용차_보행자,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
13,2014,2014081300,2014,8,13,0,55,야간,오전,수,...,중형,없음,없음,1155916,1696572,129.213832,35.252463,화물차_없음,화물차_교차로_교차로내,화물차_기타(운전자법규위반)
14,2013,2013021305,2013,2,13,5,13,야간,오전,수,...,불명,승용차,소형,1045992,1798521,128.011479,36.182718,불명_승용차,불명_단일로_기타단일로,불명_안전운전 의무 불이행
15,2016,2016032119,2016,3,21,19,15,야간,오후,월,...,경형,보행자,보행자,1126964,1694343,128.895341,35.236459,승합차_보행자,승합차_단일로_기타단일로,승합차_안전운전 의무 불이행
16,2014,2014102118,2014,10,21,18,10,야간,오후,화,...,중형,보행자,보행자,940478,1672971,126.846739,35.050014,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
17,2015,2015022322,2015,2,23,22,40,야간,오후,월,...,대형,보행자,보행자,926865,1939493,126.673127,37.451738,승용차_보행자,승용차_교차로_교차로부근,승용차_안전운전 의무 불이행
18,2013,2013082413,2013,8,24,13,0,주간,오후,토,...,중형,없음,없음,941053,1676138,126.853281,35.078701,승용차_없음,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
19,2014,2014092421,2014,9,24,21,39,야간,오후,수,...,중형,보행자,보행자,931118,1939816,126.721178,37.454976,승합차_보행자,승합차_단일로_기타단일로,승합차_안전운전 의무 불이행
20,2015,2015060217,2015,6,2,17,30,주간,오후,화,...,중형,없음,없음,985430,1714073,127.339503,35.422300,화물차_없음,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
21,2015,2015041800,2015,4,18,0,48,야간,오전,토,...,중형,보행자,보행자,1093233,1757504,128.531962,35.809574,승용차_보행자,승용차_단일로_횡단보도부근,승용차_안전운전 의무 불이행
22,2014,2014041811,2014,4,18,11,40,주간,오전,금,...,대형,보행자,보행자,993183,1826959,127.423938,36.440168,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
23,2013,2013022102,2013,2,21,2,13,야간,오전,목,...,소형,없음,없음,1102953,1770529,128.643523,35.926299,승합차_없음,승합차_단일로_기타단일로,승합차_안전운전 의무 불이행
24,2015,2015100418,2015,10,4,18,50,야간,오후,일,...,경형,보행자,보행자,897825,1644156,126.383208,34.786822,승용차_보행자,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
25,2017,2017012201,2017,1,22,1,50,야간,오전,일,...,승용차,없음,없음,943306,1688890,126.877240,35.193748,승용차_없음,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
26,2012,2012050404,2012,5,4,4,25,야간,오전,금,...,대형,화물차,대형,1092478,1766734,128.524677,35.892851,화물차_화물차,화물차_단일로_기타단일로,화물차_안전거리 미확보
27,2014,2014060213,2014,6,2,13,55,주간,오후,월,...,중형,건설기계,건설기계,1138857,1921698,129.066401,37.283864,승용차_건설기계,승용차_단일로_기타단일로,승용차_중앙선 침범
28,2012,2012012501,2012,1,25,1,30,야간,오전,수,...,중형,없음,없음,989134,1816516,127.378906,36.345984,승용차_없음,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
29,2012,2012101818,2012,10,18,18,15,야간,오후,목,...,소형,승용차,중형,928775,1779155,126.709674,36.006607,이륜차_승용차,이륜차_기타/불명_기타/불명,이륜차_중앙선 침범
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2012,2012031300,2012,3,13,0,45,야간,오전,화,...,소형,없음,없음,1101562,1761644,128.624664,35.846067,이륜차_없음,이륜차_교차로_교차로부근,이륜차_안전운전 의무 불이행
35,2017,2017060402,2017,6,4,2,5,야간,오전,일,...,승용차,보행자,보행자,956462,1921621,127.008791,37.292516,승용차_보행자,승용차_교차로_교차로횡단보도내,승용차_보행자 보호의무 위반
36,2012,2012092119,2012,9,21,19,30,야간,오후,금,...,원동기장치자전거,승용차,경형,961093,1882141,127.063087,36.936849,원동기장치자전거_승용차,원동기장치자전거_단일로_기타단일로,원동기장치자전거_중앙선 침범
37,2016,2016110319,2016,11,3,19,0,야간,오후,목,...,소형,보행자,보행자,1113394,1847726,128.768130,36.620661,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
38,2015,2015052210,2015,5,22,10,40,주간,오전,금,...,경형,보행자,보행자,943571,1926597,126.862980,37.336674,화물차_보행자,화물차_단일로_기타단일로,화물차_보행자 보호의무 위반
39,2012,2012111814,2012,11,18,14,0,주간,오후,일,...,소형,이륜차,소형,969300,1887210,127.155042,36.982846,화물차_이륜차,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
40,2017,2017030913,2017,3,9,13,30,주간,오후,목,...,건설기계,승용차,승용차,1151051,1713236,129.163451,35.403404,건설기계_승용차,건설기계_교차로_교차로부근,건설기계_신호위반
41,2016,2016021009,2016,2,10,9,4,주간,오전,수,...,경형,보행자,보행자,943666,1947811,126.862432,37.527886,승용차_보행자,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
42,2017,2017011811,2017,1,18,11,50,주간,오전,수,...,승용차,건설기계,건설기계,1005786,1942511,127.565444,37.481816,승용차_건설기계,승용차_단일로_기타단일로,승용차_중앙선 침범
43,2017,2017013123,2017,1,31,23,23,야간,오후,화,...,승용차,화물차,화물차,1008617,1654909,127.593952,34.888793,승용차_화물차,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
44,2013,2013090113,2013,9,1,13,40,주간,오후,일,...,소형,보행자,보행자,1015603,1640388,127.667876,34.757553,승용차_보행자,승용차_기타/불명_기타/불명,승용차_안전운전 의무 불이행
45,2016,2016111100,2016,11,11,0,55,야간,오전,금,...,대형,없음,없음,1168587,1820969,129.379287,36.371406,승용차_없음,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
46,2014,2014031415,2014,3,14,15,10,주간,오후,금,...,대형,보행자,보행자,1140603,1678141,129.042373,35.088631,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
47,2015,2015033015,2015,3,30,15,10,주간,오후,월,...,건설기계,승용차,경형,1087654,1875830,128.483542,36.876692,건설기계_승용차,건설기계_단일로_기타단일로,건설기계_과속
48,2014,2014061814,2014,6,18,14,25,주간,오후,수,...,소형,농기계,농기계,1079944,1839308,128.393221,36.548175,승합차_농기계,승합차_단일로_기타단일로,승합차_안전운전 의무 불이행
49,2015,2015070704,2015,7,7,4,20,야간,오전,화,...,대형,보행자,보행자,1014534,1809191,127.661290,36.280123,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
50,2016,2016032909,2016,3,29,9,44,주간,오전,화,...,대형,승합차,경형,984211,1732843,127.325710,35.591524,화물차_승합차,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
51,2012,2012082411,2012,8,24,11,0,주간,오전,금,...,중형,보행자,보행자,968532,1758230,127.152381,35.820335,승용차_보행자,승용차_교차로_교차로내,승용차_보행자 보호의무 위반
52,2012,2012040705,2012,4,7,5,35,야간,오전,토,...,대형,보행자,보행자,953799,1952417,126.976819,37.569964,승용차_보행자,승용차_교차로_교차로내,승용차_안전운전 의무 불이행
53,2013,2013100112,2013,10,1,12,52,주간,오후,화,...,중형,자전거,자전거,1053544,1688925,128.088163,35.194220,승용차_자전거,승용차_교차로_교차로부근,승용차_중앙선 침범
54,2017,2017031900,2017,3,19,0,49,야간,오전,일,...,승용차,승용차,승용차,1094858,1694138,128.542531,35.238164,승용차_승용차,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
55,2014,2014042722,2014,4,27,22,25,야간,오후,일,...,소형,보행자,보행자,1098441,1681105,128.580348,35.120318,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
56,2014,2014091607,2014,9,16,7,10,주간,오전,화,...,소형,보행자,보행자,1111535,1739605,128.732014,35.646318,화물차_보행자,화물차_교차로_교차로내,화물차_안전운전 의무 불이행
57,2017,2017042922,2017,4,29,22,40,야간,오후,토,...,화물차,보행자,보행자,1098692,1778420,128.594971,35.997586,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
58,2012,2012051505,2012,5,15,5,50,야간,오전,화,...,중형,없음,없음,1076547,1783325,128.349778,36.043795,화물차_없음,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
59,2013,2013012305,2013,1,23,5,0,야간,오전,수,...,중형,없음,없음,1083799,1643713,128.415920,34.784505,승합차_없음,승합차_단일로_기타단일로,승합차_안전운전 의무 불이행
60,2014,2014062321,2014,6,23,21,14,야간,오후,월,...,중형,자전거,자전거,941860,1885883,126.846830,36.969588,승용차_자전거,승용차_단일로_기타단일로,승용차_안전운전 의무 불이행
61,2016,2016022319,2016,2,23,19,55,야간,오후,화,...,경형,보행자,보행자,973269,1983355,127.196157,37.849586,승용차_보행자,승용차_단일로_교량위,승용차_안전운전 의무 불이행
62,2014,2014041211,2014,4,12,11,50,주간,오전,토,...,소형,보행자,보행자,945353,1901791,126.884914,37.113190,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행
63,2012,2012111917,2012,11,19,17,5,주간,오후,월,...,소형,보행자,보행자,1034161,1947110,127.886596,37.522656,화물차_보행자,화물차_단일로_기타단일로,화물차_안전운전 의무 불이행

In [112]:
df=event_records
df2=df.groupby("발생년").sum()
df2

,발생년월일시,발생년.1,발생월,발생일,발생시,발생분,사망자수,사상자수,중상자수,경상자수,부상자,부상신고자수,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
발생년,,,,,,,,,,,,,,,,
2012,28168855635,28168,83,255,135,284,14,17,1,2,3,0,14295633,25633264,1788.256814,510.633834
2013,22143785413,22143,77,153,113,258,11,25,6,8,14,0,11015355,19966762,1402.600911,399.651060
2014,26182822589,26182,80,224,189,370,13,20,4,3,7,0,13509588,23391189,1663.089519,470.423915
2015,18135552407,18135,54,123,107,326,9,10,0,1,1,0,8861969,16555566,1145.949778,328.958818
2016,14112401095,14112,39,110,95,191,10,25,11,4,15,0,7283426,12954151,895.626015,256.540098
2017,20170308106,20170,29,180,106,267,10,17,0,7,7,0,10359710,18052062,1278.939698,362.399081

In [28]:
severity_index=['사망자수', '사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)',
       '사상자수', '중상자수', '경상자수', '부상자', '부상자 피해수준(하 0~5 / 중 6~18 / 상 19~)',
       '부상신고자수']
time_index=['발생년', '발생년월일시', '발생년.1', '발생월', '발생일', '발생시', '발생분', '주야(6시,18시 기준)',
       '오전/오후', '요일', '요일_주야']
location_index=['발생지시도', '발생지시군구', '발생지시도군구','발생위치X_UTMK',
       '발생위치Y_UTMK', '경도', '위도']
type_index=['사고유형_대분류', '사고유형_중분류', '사고유형',
       '사망자피해수준_사고유형중분류', '부상자피해수준_사고유형중분류', '발생지_사고유형대분류', '발생지_사고유형중분류',
       '법규위반_대분류', '법규위반', '도로형태_대분류', '도로형태', '도로형태(전체)', '도로형태*법규위반']
concerned_index=['당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류', '당사자종별_2당']

encode_index=['주야(6시,18시 기준)', '오전/오후', '요일', '요일_주야','사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)','부상자 피해수준(하 0~5 / 중 6~18 / 상 19~)',  '발생지시도', '발생지시군구', '발생지시도군구', '사고유형_대분류', '사고유형_중분류', '사고유형',
       '사망자피해수준_사고유형중분류', '부상자피해수준_사고유형중분류', '발생지_사고유형대분류', '발생지_사고유형중분류',
       '법규위반_대분류', '법규위반', '도로형태_대분류', '도로형태', '도로형태(전체)', '도로형태*법규위반',
       '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류', '당사자종별_2당',  '가해자_피해자', '가해자_도로형태', '가해자_법규위반']

query_index=['주야(6시,18시 기준)', '요일', '사망자수',  '사상자수', '중상자수', '경상자수', '부상신고자수', '발생지시도', '발생지시군구','사고유형_대분류', '사고유형_중분류','법규위반', '도로형태_대분류', '도로형태',  '당사자종별_1당_대분류',  '당사자종별_2당_대분류', ]
print(len(query_index))
df.dtypes.index

16

Index(['발생년', '발생년월일시', '발생년.1', '발생월', '발생일', '발생시', '발생분', '주야(6시,18시 기준)',
       '오전/오후', '요일', '요일_주야', '사망자수', '사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)',
       '사상자수', '중상자수', '경상자수', '부상자', '부상자 피해수준(하 0~5 / 중 6~18 / 상 19~)',
       '부상신고자수', '발생지시도', '발생지시군구', '발생지시도군구', '사고유형_대분류', '사고유형_중분류', '사고유형',
       '사망자피해수준_사고유형중분류', '부상자피해수준_사고유형중분류', '발생지_사고유형대분류', '발생지_사고유형중분류',
       '법규위반_대분류', '법규위반', '도로형태_대분류', '도로형태', '도로형태(전체)', '도로형태*법규위반',
       '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류', '당사자종별_2당', '발생위치X_UTMK',
       '발생위치Y_UTMK', '경도', '위도', '가해자_피해자', '가해자_도로형태', '가해자_법규위반'],
      dtype='object')

In [114]:
df3=df.pivot_table(index="주야(6시,18시 기준)", columns="요일", values=dead, aggfunc=np.sum)
df3

              사망자수
요일               금  목  수  월  일  토  화
주야(6시,18시 기준)
야간               3  4  6  5  7  6  8
주간               6  1  4  4  2  3  8

In [121]:
ix=pandas.MultiIndex.from_product([dead,time_index], names=['dead', 'time'])
ix

MultiIndex(levels=[['사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)', '사망자수'], ['발생년', '발생년.1', '발생년월일시', '발생분', '발생시', '발생월', '발생일', '오전/오후', '요일', '요일_주야', '주야(6시,18시 기준)']],
           labels=[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 2, 1, 5, 6, 4, 3, 10, 7, 8, 9, 0, 2, 1, 5, 6, 4, 3, 10, 7, 8, 9]],
           names=['dead', 'time'])

In [117]:
severity_index

['사망자수',
 '사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)',
 '사상자수',
 '중상자수',
 '경상자수',
 '부상자',
 '부상자 피해수준(하 0~5 / 중 6~18 / 상 19~)',
 '부상신고자수']

In [118]:
time_index

['발생년',
 '발생년월일시',
 '발생년.1',
 '발생월',
 '발생일',
 '발생시',
 '발생분',
 '주야(6시,18시 기준)',
 '오전/오후',
 '요일',
 '요일_주야']

In [133]:
for i in ix:
    display(df.pivot_table( index=i))

                   경도      경상자수   발생년.1        발생년월일시        발생분        발생시  \
사망자수 발생년
1    2012  127.732630  0.142857  2012.0  2.012061e+09  20.285714   9.642857
     2013  127.509174  0.727273  2013.0  2.013071e+09  23.454545  10.272727
     2014  127.929963  0.230769  2014.0  2.014063e+09  28.461538  14.538462
     2015  127.327753  0.111111  2015.0  2.015061e+09  36.222222  11.888889
     2016  128.050051  0.000000  2016.0  2.016061e+09  24.500000  14.333333
     2017  127.893970  0.700000  2017.0  2.017031e+09  26.700000  10.600000
4    2016  127.325710  4.000000  2016.0  2.016033e+09  44.000000   9.000000

                발생월    발생위치X_UTMK    발생위치Y_UTMK        발생일  부상신고자수        부상자  \
사망자수 발생년
1    2012  5.928571  1.021117e+06  1.830947e+06  18.214286     0.0   0.214286
     2013  7.000000  1.001396e+06  1.815160e+06  13.909091     0.0   1.272727
     2014  6.153846  1.039199e+06  1.799322e+06  17.230769     0.0   0.538462
     2015  6.000000  9.846632e+05  1.839507e+06  13.666667     0.0   0.111111
     2016  6.000000  1.049869e+06  1.870218e+06  13.500000     0.0   0.000000
     2017  2.900000  1.035971e+06  1.805206e+06  18.000000     0.0   0.700000
4    2016  3.000000  9.842110e+05  1.732843e+06  29.000000     0.0  15.000000

                사상자수         위도       중상자수
사망자수 발생년
1    2012   1.214286  36.473845   0.071429
     2013   2.272727  36.331915   0.545455
     2014   1.538462  36.186455   0.307692
     2015   1.111111  36.550980   0.000000
     2016   1.000000  36.824762   0.000000
     2017   1.700000  36.239908   0.000000
4    2016  19.000000  35.591524  11.000000

                         경도  경상자수   발생년  발생년.1  발생분  발생시  발생월  발생위치X_UTMK  \
사망자수 발생년월일시
1    2012012501  127.378906     1  2012   2012   30    1    1      989134
     2012031300  128.624664     0  2012   2012   45    0    3     1101562
     2012032619  128.260294     0  2012   2012   36   19    3     1068347
     2012040705  126.976819     0  2012   2012   35    5    4      953799
     2012042121  128.327754     0  2012   2012    0   21    4     1074475
     2012042200  128.822850     0  2012   2012    3    0    4     1119475
     2012050404  128.524677     0  2012   2012   25    4    5     1092478
     2012051505  128.349778     0  2012   2012   50    5    5     1076547
     2012052201  127.024292     0  2012   2012   10    1    5      957955
     2012082411  127.152381     0  2012   2012    0   11    8      968532
     2012092119  127.063087     1  2012   2012   30   19    9      961093
     2012101818  126.709674     0  2012   2012   15   18   10      928775
     2012111814  127.155042     0  2012   2012    0   14   11      969300
     2012111917  127.886596     0  2012   2012    5   17   11     1034161
     2013012305  128.415920     7  2013   2013    0    5    1     1083799
     2013021305  128.011479     0  2013   2013   13    5    2     1045992
     2013022102  128.643523     0  2013   2013   13    2    2     1102953
     2013071105  126.898120     0  2013   2013   10    5    7      946781
     2013072011  127.043985     0  2013   2013   40   11    7      959762
     2013082413  126.853281     0  2013   2013    0   13    8      941053
     2013090113  127.667876     0  2013   2013   40   13    9     1015603
     2013100112  128.088163     0  2013   2013   52   12   10     1053544
     2013101423  127.393572     0  2013   2013   15   23   10      990575
     2013101918  126.508369     0  2013   2013   50   18   10      912701
     2013110606  127.076623     1  2013   2013   25    6   11      962592
     2014031415  129.042373     0  2014   2014   10   15    3     1140603
     2014041211  126.884914     0  2014   2014   50   11    4      945353
     2014041811  127.423938     0  2014   2014   40   11    4      993183
     2014042223  126.996499     1  2014   2014   30   23    4      955495
     2014042722  128.580348     0  2014   2014   25   22    4     1098441
...                     ...   ...   ...    ...  ...  ...  ...         ...
     2014081300  129.213832     0  2014   2014   55    0    8     1155916
     2014091607  128.732014     0  2014   2014   10    7    9     1111535
     2014092421  126.721178     1  2014   2014   39   21    9      931118
     2014102118  126.846739     0  2014   2014   10   18   10      940478
     2015022322  126.673127     0  2015   2015   40   22    2      926865
     2015033015  128.483542     1  2015   2015   10   15    3     1087654
     2015041800  128.531962     0  2015   2015   48    0    4     1093233
     2015052210  126.862980     0  2015   2015   40   10    5      943571
     2015060217  127.339503     0  2015   2015   30   17    6      985430
     2015070405  127.097300     0  2015   2015   30    5    7      964408
     2015070704  127.661290     0  2015   2015   20    4    7     1014534
     2015100418  126.383208     0  2015   2015   50   18   10      897825
     2015101316  126.916866     0  2015   2015   58   16   10      948449
     2016021009  126.862432     0  2016   2016    4    9    2      943666
     2016022319  127.196157     0  2016   2016   55   19    2      973269
     2016032119  128.895341     0  2016   2016   15   19    3     1126964
     2016071320  127.198957     0  2016   2016   18   20    7      973335
     2016110319  128.768130     0  2016   2016    0   19   11     1113394
     2016111100  129.379287     0  2016   2016   55    0   11     1168587
     2017010606  127.038159     0  2017   2017    0    6    1      959245
     2017011811  127.565444     1  2017   2017   50   11    1     1005786
     2017012201  126.877240     0  2017   2017   50    1    1      943306
     2017013123  127.593952     0  2017   2017   23   23    1     1008617
     2017030913  129.163451     0  2017   2017   30   13    3     1151051
     2017031900  128.542531     0  2017   2017   49    0    3     1094858
     2017041410  129.480453     4  2017   2017   13   10    4     1179086
     2017042922  128.594971     0  2017   2017   40   22    4     1098692
     2017052818  127.074705     0  2017   2017    7   18    5      962607
     2017060402  127.008791     2  2017   2017    5    2    6      956462
4    2016032909  127.325710     4  2016   2016   44    9    3      984211

                 발생위치Y_UTMK  발생일  부상신고자수  부상자  사상자수         위도  중상자수
사망자수 발생년월일시
1    2012012501     1816516   25       0    1     2  36.345984     0
     2012031300     1761644   13       0    0     1  35.846067     0
     2012032619     1801048   26       0    0     1  36.204178     0
     2012040705     1952417    7       0    0     1  37.569964     0
     2012042121     1793653   21       0    0     1  36.137062     0
     2012042200     1758861   22       0    0     1  35.819346     0
     2012050404     1766734    4       0    1     2  35.892851     1
     2012051505     1783325   15       0    0     1  36.043795     0
     2012052201     1945220   22       0    0     1  37.505295     0
     2012082411     1758230   24       0    0     1  35.820335     0
     2012092119     1882141   21       0    1     2  36.936849     0
     2012101818     1779155   18       0    0     1  36.006607     0
     2012111814     1887210   18       0    0     1  36.982846     0
     2012111917     1947110   19       0    0     1  37.522656     0
     2013012305     1643713   23       0   12    13  34.784505     5
     2013021305     1798521   13       0    0     1  36.182718     0
     2013022102     1770529   21       0    0     1  35.926299     0
     2013071105     1941588   11       0    0     1  37.472395     0
     2013072011     1958906   20       0    0     1  37.628731     0
     2013082413     1676138   24       0    0     1  35.078701     0
     2013090113     1640388    1       0    0     1  34.757553     0
     2013100112     1688925    1       0    1     2  35.194220     1
     2013101423     1928766   14       0    0     1  37.357892     0
     2013101918     1971482   19       0    0     1  37.739244     0
     2013110606     1947806    6       0    1     2  37.528803     0
     2014031415     1678141   14       0    0     1  35.088631     0
     2014041211     1901791   12       0    0     1  37.113190     0
     2014041811     1826959   18       0    0     1  36.440168     0
     2014042223     1944576   22       0    1     2  37.499375     0
     2014042722     1681105   27       0    1     2  35.120318     1
...                     ...  ...     ...  ...   ...        ...   ...
     2014081300     1696572   13       0    0     1  35.252463     0
     2014091607     1739605   16       0    0     1  35.646318     0
     2014092421     1939816   24       0    3     4  37.454976     2
     2014102118     1672971   21       0    0     1  35.050014     0
     2015022322     1939493   23       0    0     1  37.451738     0
     2015033015     1875830   30       0    1     2  36.876692     0
     2015041800     1757504   18       0    0     1  35.809574     0
     2015052210     1926597   22       0    0     1  37.336674     0
     2015060217     1714073    2       0    0     1  35.422300     0
     2015070405     1945247    4       0    0     1  37.505810     0
     2015070704     1809191    7       0    0     1  36.280123     0
     2015100418     1644156    4       0    0     1  34.786822     0
     2015101316     1943475   13       0    0     1  37.489085     0
     2016021009     1947811   10       0    0     1  37.527886     0
     2016022319     1983355   23       0    0     1  37.849586     0
     2016032119     1694343   21       0    0     1  35.236459     0
     2016071320     1927104   13       0    0     1  37.342576     0
     2016110319     1847726    3       0    0     1  36.620661     0
     2016111100     1820969   11       0    0     1  36.371406     0
     2017010606     1955990    6       0    0     1  37.602449     0
     2017011811     1942511   18       0    1     2  37.481816     0
     2017012201     1688890   22       0    0     1  35.193748     0
     2017013123     1654909   31       0    0     1  34.888793     0
     2017030913     1713236    9       0    0     1  35.403404     0
     2017031900     1694138   19       0    0     1  35.238164     0
     2017041410     1751253   14       0    4     5  35.741338     0
     2017042922     1778420   29       0    0     1  35.997586     0
     2017052818     1951094   28       0    0     1  37.559266     0
     2017060402     1921621    4       0    2     3  37.292516     0
4    2016032909     1732843   29       0   15    19  35.591524    11

[64 rows x 15 columns]

                    경도      경상자수     발생년        발생년월일시        발생분        발생시  \
사망자수 발생년.1
1    2012   127.732630  0.142857  2012.0  2.012061e+09  20.285714   9.642857
     2013   127.509174  0.727273  2013.0  2.013071e+09  23.454545  10.272727
     2014   127.929963  0.230769  2014.0  2.014063e+09  28.461538  14.538462
     2015   127.327753  0.111111  2015.0  2.015061e+09  36.222222  11.888889
     2016   128.050051  0.000000  2016.0  2.016061e+09  24.500000  14.333333
     2017   127.893970  0.700000  2017.0  2.017031e+09  26.700000  10.600000
4    2016   127.325710  4.000000  2016.0  2.016033e+09  44.000000   9.000000

                 발생월    발생위치X_UTMK    발생위치Y_UTMK        발생일  부상신고자수  \
사망자수 발생년.1
1    2012   5.928571  1.021117e+06  1.830947e+06  18.214286     0.0
     2013   7.000000  1.001396e+06  1.815160e+06  13.909091     0.0
     2014   6.153846  1.039199e+06  1.799322e+06  17.230769     0.0
     2015   6.000000  9.846632e+05  1.839507e+06  13.666667     0.0
     2016   6.000000  1.049869e+06  1.870218e+06  13.500000     0.0
     2017   2.900000  1.035971e+06  1.805206e+06  18.000000     0.0
4    2016   3.000000  9.842110e+05  1.732843e+06  29.000000     0.0

                  부상자       사상자수         위도       중상자수
사망자수 발생년.1
1    2012    0.214286   1.214286  36.473845   0.071429
     2013    1.272727   2.272727  36.331915   0.545455
     2014    0.538462   1.538462  36.186455   0.307692
     2015    0.111111   1.111111  36.550980   0.000000
     2016    0.000000   1.000000  36.824762   0.000000
     2017    0.700000   1.700000  36.239908   0.000000
4    2016   15.000000  19.000000  35.591524  11.000000

                  경도      경상자수          발생년        발생년.1        발생년월일시  \
사망자수 발생월
1    1    127.478270  1.500000  2015.500000  2015.500000  2.015512e+09
     2    127.477344  0.000000  2014.600000  2014.600000  2.014622e+09
     3    128.716028  0.142857  2014.714286  2014.714286  2.014746e+09
     4    128.062051  0.500000  2014.100000  2014.100000  2.014142e+09
     5    127.567286  0.000000  2013.600000  2013.600000  2.013652e+09
     6    127.730949  0.600000  2014.800000  2014.800000  2.014861e+09
     7    127.373480  0.000000  2014.333333  2014.333333  2.014404e+09
     8    127.739832  0.000000  2013.000000  2013.000000  2.013082e+09
     9    127.546039  0.500000  2013.250000  2013.250000  2.013342e+09
     10   126.978084  0.000000  2013.571429  2013.571429  2.013673e+09
     11   128.053136  0.200000  2013.800000  2013.800000  2.013911e+09
4    3    127.325710  4.000000  2016.000000  2016.000000  2.016033e+09

                발생분        발생시    발생위치X_UTMK    발생위치Y_UTMK        발생일  부상신고자수  \
사망자수 발생월
1    1    25.500000   7.833333  9.983145e+05  1.783755e+06  20.833333     0.0
     2    25.000000  11.400000  9.985490e+05  1.887942e+06  18.000000     0.0
     3    27.857143  11.571429  1.110148e+06  1.745483e+06  18.857143     0.0
     4    28.400000  12.500000  1.051123e+06  1.814654e+06  19.000000     0.0
     5    26.400000   7.600000  1.006632e+06  1.874594e+06  18.200000     0.0
     6    25.800000  13.400000  1.020511e+06  1.856517e+06   9.800000     0.0
     7    20.833333   9.666667  9.892708e+05  1.874133e+06  11.500000     0.0
     8    18.333333   8.000000  1.021834e+06  1.710313e+06  20.333333     0.0
     9    29.750000  15.000000  1.004837e+06  1.800488e+06  15.500000     0.0
     10   35.714286  17.571429  9.531924e+05  1.804133e+06  12.857143     0.0
     11   17.000000  11.200000  1.049607e+06  1.890164e+06  11.400000     0.0
4    3    44.000000   9.000000  9.842110e+05  1.732843e+06  29.000000     0.0

                부상자       사상자수         위도       중상자수
사망자수 발생월
1    1     2.333333   3.333333  36.049549   0.833333
     2     0.000000   1.000000  36.987645   0.000000
     3     0.142857   1.142857  35.699085   0.000000
     4     0.600000   1.600000  36.324792   0.100000
     5     0.200000   1.200000  36.867576   0.200000
     6     0.800000   1.800000  36.703289   0.200000
     7     0.000000   1.000000  36.864411   0.000000
     8     0.000000   1.000000  35.383833   0.000000
     9     1.000000   2.000000  36.198924   0.500000
     10    0.142857   1.142857  36.231983   0.142857
     11    0.200000   1.200000  37.005274   0.000000
4    3    15.000000  19.000000  35.591524  11.000000

                  경도      경상자수      발생년    발생년.1        발생년월일시        발생분  \
사망자수 발생일
1    1    127.878019  0.000000  2013.00  2013.00  2.013095e+09  46.000000
     2    128.202952  0.500000  2014.50  2014.50  2.014560e+09  42.500000
     3    128.768130  0.000000  2016.00  2016.00  2.016110e+09   0.000000
     4    127.253494  0.500000  2014.75  2014.75  2.014820e+09  27.500000
     6    127.057391  0.500000  2015.00  2015.00  2.015061e+09  12.500000
     7    127.319054  0.000000  2013.50  2013.50  2.013556e+09  27.500000
     9    129.163451  0.000000  2017.00  2017.00  2.017031e+09  30.000000
     10   126.862432  0.000000  2016.00  2016.00  2.016021e+09   4.000000
     11   128.138703  0.000000  2014.50  2014.50  2.014591e+09  32.500000
     12   126.884914  0.000000  2014.00  2014.00  2.014041e+09  50.000000
     13   127.993160  0.000000  2014.00  2014.00  2.014061e+09  37.800000
     14   128.564407  1.000000  2014.50  2014.50  2.014561e+09  11.250000
     15   128.349778  0.000000  2012.00  2012.00  2.012052e+09  50.000000
     16   128.732014  0.000000  2014.00  2014.00  2.014092e+09  10.000000
     18   127.629880  0.166667  2014.00  2014.00  2.014062e+09  29.666667
     19   127.645832  0.000000  2014.00  2014.00  2.014082e+09  34.666667
     20   127.043985  0.000000  2013.00  2013.00  2.013072e+09  40.000000
     21   127.955289  0.200000  2013.40  2013.40  2.013458e+09  13.600000
     22   127.316772  0.200000  2014.00  2014.00  2.014040e+09  26.600000
     23   127.283009  1.750000  2014.50  2014.50  2.014530e+09  27.250000
     24   126.908947  0.333333  2013.00  2013.00  2.013086e+09  13.000000
     25   127.378906  1.000000  2012.00  2012.00  2.012013e+09  30.000000
     26   128.260294  0.000000  2012.00  2012.00  2.012033e+09  36.000000
     27   128.580348  0.000000  2014.00  2014.00  2.014043e+09  25.000000
     28   127.074705  0.000000  2017.00  2017.00  2.017053e+09   7.000000
     29   128.594971  0.000000  2017.00  2017.00  2.017043e+09  40.000000
     30   128.483542  1.000000  2015.00  2015.00  2.015033e+09  10.000000
     31   127.593952  0.000000  2017.00  2017.00  2.017013e+09  23.000000
4    29   127.325710  4.000000  2016.00  2016.00  2.016033e+09  44.000000

                발생시        발생월    발생위치X_UTMK    발생위치Y_UTMK  부상신고자수        부상자  \
사망자수 발생일
1    1    12.500000   9.500000  1.034574e+06  1.664656e+06     0.0   0.500000
     2    15.000000   6.000000  1.062144e+06  1.817886e+06     0.0   1.000000
     3    19.000000  11.000000  1.113394e+06  1.847726e+06     0.0   0.000000
     4     7.250000   7.000000  9.777932e+05  1.819440e+06     0.0   0.750000
     6     6.000000   6.000000  9.609185e+05  1.951898e+06     0.0   0.500000
     7     4.500000   5.500000  9.841665e+05  1.880804e+06     0.0   0.000000
     9    13.000000   3.000000  1.151051e+06  1.713236e+06     0.0   0.000000
     10    9.000000   2.000000  9.436660e+05  1.947811e+06     0.0   0.000000
     11    2.500000   9.000000  1.057684e+06  1.881278e+06     0.0   0.000000
     12   11.000000   4.000000  9.453530e+05  1.901791e+06     0.0   0.000000
     13    8.200000   6.000000  1.045051e+06  1.825463e+06     0.0   0.000000
     14   15.250000   6.000000  1.096767e+06  1.755231e+06     0.0   1.000000
     15    5.000000   5.000000  1.076547e+06  1.783325e+06     0.0   0.000000
     16    7.000000   9.000000  1.111535e+06  1.739605e+06     0.0   0.000000
     18   11.333333   6.000000  1.011704e+06  1.838774e+06     0.0   0.166667
     19   11.666667   8.000000  1.013907e+06  1.870910e+06     0.0   0.000000
     20   11.000000   7.000000  9.597620e+05  1.958906e+06     0.0   0.000000
     21   15.800000   5.600000  1.041193e+06  1.762727e+06     0.0   0.200000
     22    7.000000   3.800000  9.839604e+05  1.852829e+06     0.0   0.200000
     23   16.750000   2.750000  9.814482e+05  1.863111e+06     0.0   3.000000
     24   15.000000   8.333333  9.469010e+05  1.791395e+06     0.0   1.000000
     25    1.000000   1.000000  9.891340e+05  1.816516e+06     0.0   1.000000
     26   19.000000   3.000000  1.068347e+06  1.801048e+06     0.0   0.000000
     27   22.000000   4.000000  1.098441e+06  1.681105e+06     0.0   1.000000
     28   18.000000   5.000000  9.626070e+05  1.951094e+06     0.0   0.000000
     29   22.000000   4.000000  1.098692e+06  1.778420e+06     0.0   0.000000
     30   15.000000   3.000000  1.087654e+06  1.875830e+06     0.0   1.000000
     31   23.000000   1.000000  1.008617e+06  1.654909e+06     0.0   0.000000
4    29    9.000000   3.000000  9.842110e+05  1.732843e+06     0.0  15.000000

               사상자수         위도       중상자수
사망자수 발생일
1    1     1.500000  34.975886   0.500000
     2     2.000000  36.353082   0.500000
     3     1.000000  36.620661   0.000000
     4     1.750000  36.369500   0.250000
     6     1.500000  37.565626   0.000000
     7     1.000000  36.925044   0.000000
     9     1.000000  35.403404   0.000000
     10    1.000000  37.527886   0.000000
     11    1.000000  36.921900   0.000000
     12    1.000000  37.113190   0.000000
     13    1.000000  36.422582   0.000000
     14    2.000000  35.786173   0.000000
     15    1.000000  36.043795   0.000000
     16    1.000000  35.646318   0.000000
     18    1.166667  36.544864   0.000000
     19    1.000000  36.833354   0.000000
     20    1.000000  37.628731   0.000000
     21    1.200000  35.857336   0.000000
     22    1.200000  36.670888   0.000000
     23    4.000000  36.763854   1.250000
     24    2.000000  36.118004   0.666667
     25    2.000000  36.345984   0.000000
     26    1.000000  36.204178   0.000000
     27    2.000000  35.120318   1.000000
     28    1.000000  37.559266   0.000000
     29    1.000000  35.997586   0.000000
     30    2.000000  36.876692   0.000000
     31    1.000000  34.888793   0.000000
4    29   19.000000  35.591524  11.000000

                  경도      경상자수          발생년        발생년.1        발생년월일시  \
사망자수 발생시
1    0    128.852521  0.000000  2014.333333  2014.333333  2.014390e+09
     1    127.093480  0.333333  2013.666667  2013.666667  2.013692e+09
     2    127.826157  1.000000  2015.000000  2015.000000  2.015041e+09
     4    128.092983  0.000000  2013.500000  2013.500000  2.013561e+09
     5    127.624903  1.166667  2013.000000  2013.000000  2.013045e+09
     6    127.057391  0.500000  2015.000000  2015.000000  2.015061e+09
     7    128.732014  0.000000  2014.000000  2014.000000  2.014092e+09
     9    126.862432  0.000000  2016.000000  2016.000000  2.016021e+09
     10   128.171716  2.000000  2016.000000  2016.000000  2.016047e+09
     11   127.214132  0.200000  2014.000000  2014.000000  2.014050e+09
     12   128.088163  0.000000  2013.000000  2013.000000  2.013100e+09
     13   128.218448  0.200000  2014.200000  2014.200000  2.014267e+09
     14   127.774131  0.000000  2013.000000  2013.000000  2.013087e+09
     15   128.762958  0.500000  2014.500000  2014.500000  2.014532e+09
     16   126.916866  0.000000  2015.000000  2015.000000  2.015101e+09
     17   127.613049  0.000000  2013.500000  2013.500000  2.013586e+09
     18   126.704539  0.000000  2014.200000  2014.200000  2.014292e+09
     19   128.036602  0.200000  2014.400000  2014.400000  2.014458e+09
     20   127.198957  0.000000  2016.000000  2016.000000  2.016071e+09
     21   127.298587  0.333333  2013.333333  2013.333333  2.013399e+09
     22   127.949482  0.000000  2015.333333  2015.333333  2.015369e+09
     23   127.328008  0.333333  2014.666667  2014.666667  2.014719e+09
4    9    127.325710  4.000000  2016.000000  2016.000000  2.016033e+09

                발생분        발생월    발생위치X_UTMK    발생위치Y_UTMK        발생일  부상신고자수  \
사망자수 발생시
1    0    42.500000   5.500000  1.122272e+06  1.748281e+06  16.000000     0.0
     1    30.000000   2.333333  9.634650e+05  1.816875e+06  23.000000     0.0
     2     9.000000   4.000000  1.029708e+06  1.846075e+06  12.500000     0.0
     4    22.500000   6.000000  1.053506e+06  1.787962e+06   5.500000     0.0
     5    23.000000   4.333333  1.011888e+06  1.844135e+06  12.166667     0.0
     6    12.500000   6.000000  9.609185e+05  1.951898e+06   6.000000     0.0
     7    10.000000   9.000000  1.111535e+06  1.739605e+06  16.000000     0.0
     9     4.000000   2.000000  9.436660e+05  1.947811e+06  10.000000     0.0
     10   26.500000   4.500000  1.061328e+06  1.838925e+06  18.000000     0.0
     11   36.000000   4.800000  9.745232e+05  1.877679e+06  18.400000     0.0
     12   52.000000  10.000000  1.053544e+06  1.688925e+06   1.000000     0.0
     13   26.400000   6.600000  1.064674e+06  1.722845e+06  10.000000     0.0
     14   12.500000   8.500000  1.024622e+06  1.863259e+06  18.000000     0.0
     15   10.000000   3.000000  1.114128e+06  1.776986e+06  22.000000     0.0
     16   58.000000  10.000000  9.484490e+05  1.943475e+06  13.000000     0.0
     17   17.500000   8.500000  1.009796e+06  1.830592e+06  10.500000     0.0
     18   26.400000   9.000000  9.284772e+05  1.803772e+06  18.000000     0.0
     19   27.200000   5.600000  1.048613e+06  1.841723e+06  18.800000     0.0
     20   18.000000   7.000000  9.733350e+05  1.927104e+06  13.000000     0.0
     21   17.666667   6.333333  9.824843e+05  1.873117e+06  22.666667     0.0
     22   35.000000   3.333333  1.041333e+06  1.799673e+06  26.333333     0.0
     23   22.666667   5.000000  9.848957e+05  1.842750e+06  22.333333     0.0
4    9    44.000000   3.000000  9.842110e+05  1.732843e+06  29.000000     0.0

                부상자       사상자수         위도       중상자수
사망자수 발생시
1    0     0.000000   1.000000  35.722837   0.000000
     1     0.333333   1.333333  36.348342   0.000000
     2     1.000000   2.000000  36.609407   0.000000
     4     0.500000   1.500000  36.086487   0.500000
     5     2.000000   3.000000  36.593198   0.833333
     6     0.500000   1.500000  37.565626   0.000000
     7     0.000000   1.000000  35.646318   0.000000
     9     0.000000   1.000000  37.527886   0.000000
     10    2.000000   3.000000  36.539006   0.000000
     11    0.200000   1.200000  36.896848   0.000000
     12    1.000000   2.000000  35.194220   1.000000
     13    0.400000   1.400000  35.496071   0.200000
     14    0.000000   1.000000  36.765511   0.000000
     15    0.500000   1.500000  35.982662   0.000000
     16    0.000000   1.000000  37.489085   0.000000
     17    0.000000   1.000000  36.472478   0.000000
     18    0.000000   1.000000  36.228391   0.000000
     19    0.200000   1.200000  36.569547   0.000000
     20    0.000000   1.000000  37.342576   0.000000
     21    1.000000   2.000000  36.853875   0.666667
     22    0.333333   1.333333  36.189881   0.333333
     23    0.333333   1.333333  36.582020   0.000000
4    9    15.000000  19.000000  35.591524  11.000000

                  경도      경상자수          발생년        발생년.1        발생년월일시  \
사망자수 발생분
1    0    127.672953  1.000000  2013.571429  2013.571429  2.013636e+09
     3    128.822850  0.000000  2012.000000  2012.000000  2.012042e+09
     4    126.862432  0.000000  2016.000000  2016.000000  2.016021e+09
     5    127.447693  1.000000  2014.500000  2014.500000  2.014586e+09
     7    127.707968  0.000000  2015.500000  2015.500000  2.015562e+09
     10   127.837847  0.166667  2013.666667  2013.666667  2.013730e+09
     13   128.711818  1.333333  2014.333333  2014.333333  2.014362e+09
     14   126.846830  0.000000  2014.000000  2014.000000  2.014062e+09
     15   127.666195  0.000000  2013.666667  2013.666667  2.013745e+09
     18   127.198957  0.000000  2016.000000  2016.000000  2.016071e+09
     20   127.661290  0.000000  2015.000000  2015.000000  2.015071e+09
     23   127.593952  0.000000  2017.000000  2017.000000  2.017013e+09
     25   128.143717  0.250000  2013.250000  2013.250000  2.013316e+09
     30   127.506458  0.500000  2014.166667  2014.166667  2.014218e+09
     35   126.976819  0.000000  2012.000000  2012.000000  2.012041e+09
     36   128.260294  0.000000  2012.000000  2012.000000  2.012033e+09
     39   126.721178  1.000000  2014.000000  2014.000000  2.014092e+09
     40   127.377813  0.000000  2014.500000  2014.500000  2.014554e+09
     45   128.624664  0.000000  2012.000000  2012.000000  2.012031e+09
     48   128.531962  0.000000  2015.000000  2015.000000  2.015042e+09
     49   128.542531  0.000000  2017.000000  2017.000000  2.017032e+09
     50   127.094826  0.166667  2014.666667  2014.666667  2.014720e+09
     52   128.088163  0.000000  2013.000000  2013.000000  2.013100e+09
     55   128.713919  0.250000  2015.000000  2015.000000  2.015069e+09
     58   126.916866  0.000000  2015.000000  2015.000000  2.015101e+09
4    44   127.325710  4.000000  2016.000000  2016.000000  2.016033e+09

                발생시        발생월    발생위치X_UTMK    발생위치Y_UTMK        발생일  부상신고자수  \
사망자수 발생분
1    0    12.714286   6.285714  1.015685e+06  1.794666e+06  17.000000     0.0
     3     0.000000   4.000000  1.119475e+06  1.758861e+06  22.000000     0.0
     4     9.000000   2.000000  9.436660e+05  1.947811e+06  10.000000     0.0
     5     9.500000   8.500000  9.953115e+05  1.934366e+06  11.500000     0.0
     7    15.500000   6.000000  1.019706e+06  1.806929e+06  21.000000     0.0
     10   10.166667   6.166667  1.030834e+06  1.808892e+06  19.000000     0.0
     13    5.666667   2.666667  1.109344e+06  1.773434e+06  16.000000     0.0
     14   21.000000   6.000000  9.418600e+05  1.885883e+06  23.000000     0.0
     15   20.000000   7.666667  1.015438e+06  1.800755e+06  17.666667     0.0
     18   20.000000   7.000000  9.733350e+05  1.927104e+06  13.000000     0.0
     20    4.000000   7.000000  1.014534e+06  1.809191e+06   7.000000     0.0
     23   23.000000   1.000000  1.008617e+06  1.654909e+06  31.000000     0.0
     25   11.500000   6.500000  1.058364e+06  1.808738e+06  13.750000     0.0
     30   13.000000   5.000000  1.001102e+06  1.835965e+06  13.833333     0.0
     35    5.000000   4.000000  9.537990e+05  1.952417e+06   7.000000     0.0
     36   19.000000   3.000000  1.068347e+06  1.801048e+06  26.000000     0.0
     39   21.000000   9.000000  9.311180e+05  1.939816e+06  24.000000     0.0
     40   14.833333   5.166667  9.896127e+05  1.845127e+06  18.833333     0.0
     45    0.000000   3.000000  1.101562e+06  1.761644e+06  13.000000     0.0
     48    0.000000   4.000000  1.093233e+06  1.757504e+06  18.000000     0.0
     49    0.000000   3.000000  1.094858e+06  1.694138e+06  19.000000     0.0
     50   10.666667   5.166667  9.635863e+05  1.822026e+06  15.000000     0.0
     52   12.000000  10.000000  1.053544e+06  1.688925e+06   1.000000     0.0
     55    8.000000   6.750000  1.109157e+06  1.855648e+06  12.250000     0.0
     58   16.000000  10.000000  9.484490e+05  1.943475e+06  13.000000     0.0
4    44    9.000000   3.000000  9.842110e+05  1.732843e+06  29.000000     0.0

                부상자       사상자수         위도       중상자수
사망자수 발생분
1    0     1.714286   2.714286  36.146651   0.714286
     3     0.000000   1.000000  35.819346   0.000000
     4     0.000000   1.000000  37.527886   0.000000
     5     1.000000   2.000000  37.407586   0.000000
     7     0.000000   1.000000  36.258049   0.000000
     10    0.166667   1.166667  36.273224   0.000000
     13    1.333333   2.333333  35.950118   0.000000
     14    0.000000   1.000000  36.969588   0.000000
     15    0.000000   1.000000  36.200319   0.000000
     18    0.000000   1.000000  37.342576   0.000000
     20    0.000000   1.000000  36.280123   0.000000
     23    0.000000   1.000000  34.888793   0.000000
     25    0.750000   1.750000  36.272537   0.500000
     30    0.500000   1.500000  36.518954   0.000000
     35    0.000000   1.000000  37.569964   0.000000
     36    0.000000   1.000000  36.204178   0.000000
     39    3.000000   4.000000  37.454976   2.000000
     40    0.000000   1.000000  36.602075   0.000000
     45    0.000000   1.000000  35.846067   0.000000
     48    0.000000   1.000000  35.809574   0.000000
     49    0.000000   1.000000  35.238164   0.000000
     50    0.166667   1.166667  36.393103   0.000000
     52    1.000000   2.000000  35.194220   1.000000
     55    0.500000   1.500000  36.689330   0.250000
     58    0.000000   1.000000  37.489085   0.000000
4    44   15.000000  19.000000  35.591524  11.000000

                            경도      경상자수          발생년        발생년.1  \
사망자수 주야(6시,18시 기준)
1    야간             127.708107  0.333333  2014.128205  2014.128205
     주간             127.771703  0.333333  2014.291667  2014.291667
4    주간             127.325710  4.000000  2016.000000  2016.000000

                          발생년월일시        발생분        발생시       발생월  \
사망자수 주야(6시,18시 기준)
1    야간             2.014184e+09  27.128205  11.487179  5.384615
     주간             2.014355e+09  24.750000  12.000000  6.208333
4    주간             2.016033e+09  44.000000   9.000000  3.000000

                      발생위치X_UTMK    발생위치Y_UTMK        발생일  부상신고자수        부상자  \
사망자수 주야(6시,18시 기준)
1    야간             1.019146e+06  1.819856e+06  17.564103     0.0   0.564103
     주간             1.024782e+06  1.826906e+06  13.791667     0.0   0.416667
4    주간             9.842110e+05  1.732843e+06  29.000000     0.0  15.000000

                         사상자수         위도       중상자수
사망자수 주야(6시,18시 기준)
1    야간              1.564103  36.372888   0.230769
     주간              1.416667  36.436361   0.083333
4    주간             19.000000  35.591524  11.000000

                    경도      경상자수          발생년        발생년.1        발생년월일시  \
사망자수 오전/오후
1    오전     127.803553  0.533333  2014.133333  2014.133333  2.014182e+09
     오후     127.667589  0.151515  2014.242424  2014.242424  2.014310e+09
4    오전     127.325710  4.000000  2016.000000  2016.000000  2.016033e+09

                  발생분        발생시       발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자수 오전/오후
1    오전     27.266667   4.933333  4.733333  1.027803e+06  1.831022e+06
     오후     25.272727  17.818182  6.575758  1.015375e+06  1.814833e+06
4    오전     44.000000   9.000000  3.000000  9.842110e+05  1.732843e+06

                  발생일  부상신고자수        부상자       사상자수         위도       중상자수
사망자수 오전/오후
1    오전     14.666667     0.0   0.733333   1.733333  36.473358   0.200000
     오후     17.454545     0.0   0.303030   1.303030  36.327714   0.151515
4    오전     29.000000     0.0  15.000000  19.000000  35.591524  11.000000

                 경도      경상자수          발생년        발생년.1        발생년월일시  \
사망자수 요일
1    금   127.996371  0.555556  2014.333333  2014.333333  2.014390e+09
     목   128.036580  0.000000  2014.200000  2014.200000  2.014267e+09
     수   127.683799  1.100000  2014.200000  2014.200000  2.014250e+09
     월   127.982993  0.222222  2013.888889  2013.888889  2.013947e+09
     일   127.568066  0.222222  2014.888889  2014.888889  2.014949e+09
     토   127.424373  0.000000  2013.777778  2013.777778  2.013837e+09
     화   127.614160  0.083333  2014.083333  2014.083333  2.014145e+09
4    화   127.325710  4.000000  2016.000000  2016.000000  2.016033e+09

               발생분        발생시       발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자수 요일
1    금   23.666667   9.555556  5.555556  1.045153e+06  1.818557e+06
     목   13.600000  11.400000  6.600000  1.048591e+06  1.810447e+06
     수   25.900000   9.200000  4.800000  1.017128e+06  1.849968e+06
     월   21.888889  18.000000  5.666667  1.043565e+06  1.850771e+06
     일   25.444444   9.777778  5.888889  1.006431e+06  1.763051e+06
     토   32.555556  11.777778  5.777778  9.937196e+05  1.859506e+06
     화   32.750000  12.083333  6.000000  1.010618e+06  1.803439e+06
4    화   44.000000   9.000000  3.000000  9.842110e+05  1.732843e+06

               발생일  부상신고자수        부상자       사상자수         위도       중상자수
사망자수 요일
1    금   14.888889     0.0   0.666667   1.666667  36.358967   0.111111
     목   12.400000     0.0   0.000000   1.000000  36.285873   0.000000
     수   16.300000     0.0   1.800000   2.800000  36.644990   0.700000
     월   19.111111     0.0   0.333333   1.333333  36.651100   0.111111
     일   16.111111     0.0   0.333333   1.333333  35.861176   0.111111
     토   17.111111     0.0   0.000000   1.000000  36.731096   0.000000
     화   15.500000     0.0   0.166667   1.166667  36.226248   0.083333
4    화   29.000000     0.0  15.000000  19.000000  35.591524  11.000000

                    경도      경상자수          발생년        발생년.1        발생년월일시  \
사망자수 요일_주야
1    금_야간   128.322351  0.333333  2013.333333  2013.333333  2.013418e+09
     금_주간   127.833381  0.666667  2014.833333  2014.833333  2.014877e+09
     목_야간   127.754862  0.000000  2013.500000  2013.500000  2.013576e+09
     목_주간   129.163451  0.000000  2017.000000  2017.000000  2.017031e+09
     수_야간   127.823379  1.500000  2013.666667  2013.666667  2.013715e+09
     수_주간   127.474430  0.500000  2015.000000  2015.000000  2.015051e+09
     월_야간   127.613833  0.000000  2014.000000  2014.000000  2.014050e+09
     월_주간   128.444442  0.500000  2013.750000  2013.750000  2.013819e+09
     일_야간   127.612810  0.285714  2015.571429  2015.571429  2.015620e+09
     일_주간   127.411459  0.000000  2012.500000  2012.500000  2.012601e+09
     토_야간   127.672863  0.000000  2014.000000  2014.000000  2.014057e+09
     토_주간   126.927393  0.000000  2013.333333  2013.333333  2.013399e+09
     화_야간   127.536672  0.125000  2014.000000  2014.000000  2.014048e+09
     화_주간   127.769136  0.000000  2014.250000  2014.250000  2.014338e+09
4    화_주간   127.325710  4.000000  2016.000000  2016.000000  2.016033e+09

                  발생분        발생시        발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자수 요일_주야
1    금_야간   36.666667   7.666667   8.333333  1.074053e+06  1.823281e+06
     금_주간   17.166667  10.500000   4.166667  1.030703e+06  1.816195e+06
     목_야간    9.500000  11.000000   7.500000  1.022976e+06  1.834750e+06
     목_주간   30.000000  13.000000   3.000000  1.151051e+06  1.713236e+06
     수_야간   25.833333   8.666667   4.666667  1.029882e+06  1.803707e+06
     수_주간   26.000000  10.000000   5.000000  9.979970e+05  1.919359e+06
     월_야간   24.000000  20.800000   4.800000  1.010922e+06  1.849907e+06
     월_주간   19.250000  14.500000   6.750000  1.084369e+06  1.851850e+06
     일_야간   27.000000   8.714286   4.714286  1.010425e+06  1.762838e+06
     일_주간   20.000000  13.500000  10.000000  9.924515e+05  1.763799e+06
     토_야간   33.833333  11.833333   5.500000  1.016218e+06  1.866454e+06
     토_주간   30.000000  11.666667   6.333333  9.487227e+05  1.845612e+06
     화_야간   30.375000  11.625000   4.625000  1.003557e+06  1.819399e+06
     화_주간   37.500000  13.000000   8.750000  1.024740e+06  1.771520e+06
4    화_주간   44.000000   9.000000   3.000000  9.842110e+05  1.732843e+06

                  발생일  부상신고자수        부상자       사상자수         위도       중상자수
사망자수 요일_주야
1    금_야간   12.000000     0.0   0.666667   1.666667  36.400369   0.333333
     금_주간   16.333333     0.0   0.666667   1.666667  36.338266   0.000000
     목_야간   13.250000     0.0   0.000000   1.000000  36.506490   0.000000
     목_주간    9.000000     0.0   0.000000   1.000000  35.403404   0.000000
     수_야간   18.500000     0.0   2.666667   3.666667  36.227204   1.166667
     수_주간   13.000000     0.0   0.500000   1.500000  37.271670   0.000000
     월_야간   21.400000     0.0   0.000000   1.000000  36.643971   0.000000
     월_주간   16.250000     0.0   0.750000   1.750000  36.660011   0.250000
     일_야간   18.000000     0.0   0.428571   1.428571  35.858597   0.142857
     일_주간    9.500000     0.0   0.000000   1.000000  35.870200   0.000000
     토_야간   16.333333     0.0   0.000000   1.000000  36.793206   0.000000
     토_주간   18.666667     0.0   0.000000   1.000000  36.606874   0.000000
     화_야간   19.250000     0.0   0.125000   1.125000  36.370381   0.000000
     화_주간    8.000000     0.0   0.250000   1.250000  35.937981   0.250000
4    화_주간   29.000000     0.0  15.000000  19.000000  35.591524  11.000000

                                             경도      경상자수   발생년.1  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년
중                              2016  127.325710  4.000000  2016.0
하                              2012  127.732630  0.142857  2012.0
                               2013  127.509174  0.727273  2013.0
                               2014  127.929963  0.230769  2014.0
                               2015  127.327753  0.111111  2015.0
                               2016  128.050051  0.000000  2016.0
                               2017  127.893970  0.700000  2017.0

                                           발생년월일시        발생분        발생시  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년
중                              2016  2.016033e+09  44.000000   9.000000
하                              2012  2.012061e+09  20.285714   9.642857
                               2013  2.013071e+09  23.454545  10.272727
                               2014  2.014063e+09  28.461538  14.538462
                               2015  2.015061e+09  36.222222  11.888889
                               2016  2.016061e+09  24.500000  14.333333
                               2017  2.017031e+09  26.700000  10.600000

                                          발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년
중                              2016  3.000000  9.842110e+05  1.732843e+06
하                              2012  5.928571  1.021117e+06  1.830947e+06
                               2013  7.000000  1.001396e+06  1.815160e+06
                               2014  6.153846  1.039199e+06  1.799322e+06
                               2015  6.000000  9.846632e+05  1.839507e+06
                               2016  6.000000  1.049869e+06  1.870218e+06
                               2017  2.900000  1.035971e+06  1.805206e+06

                                           발생일  부상신고자수        부상자  사망자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년
중                              2016  29.000000     0.0  15.000000   4.0
하                              2012  18.214286     0.0   0.214286   1.0
                               2013  13.909091     0.0   1.272727   1.0
                               2014  17.230769     0.0   0.538462   1.0
                               2015  13.666667     0.0   0.111111   1.0
                               2016  13.500000     0.0   0.000000   1.0
                               2017  18.000000     0.0   0.700000   1.0

                                          사상자수         위도       중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년
중                              2016  19.000000  35.591524  11.000000
하                              2012   1.214286  36.473845   0.071429
                               2013   2.272727  36.331915   0.545455
                               2014   1.538462  36.186455   0.307692
                               2015   1.111111  36.550980   0.000000
                               2016   1.000000  36.824762   0.000000
                               2017   1.700000  36.239908   0.000000

                                                   경도  경상자수   발생년  발생년.1  발생분  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년월일시
중                              2016032909  127.325710     4  2016   2016   44
하                              2012012501  127.378906     1  2012   2012   30
                               2012031300  128.624664     0  2012   2012   45
                               2012032619  128.260294     0  2012   2012   36
                               2012040705  126.976819     0  2012   2012   35
                               2012042121  128.327754     0  2012   2012    0
                               2012042200  128.822850     0  2012   2012    3
                               2012050404  128.524677     0  2012   2012   25
                               2012051505  128.349778     0  2012   2012   50
                               2012052201  127.024292     0  2012   2012   10
                               2012082411  127.152381     0  2012   2012    0
                               2012092119  127.063087     1  2012   2012   30
                               2012101818  126.709674     0  2012   2012   15
                               2012111814  127.155042     0  2012   2012    0
                               2012111917  127.886596     0  2012   2012    5
                               2013012305  128.415920     7  2013   2013    0
                               2013021305  128.011479     0  2013   2013   13
                               2013022102  128.643523     0  2013   2013   13
                               2013071105  126.898120     0  2013   2013   10
                               2013072011  127.043985     0  2013   2013   40
                               2013082413  126.853281     0  2013   2013    0
                               2013090113  127.667876     0  2013   2013   40
                               2013100112  128.088163     0  2013   2013   52
                               2013101423  127.393572     0  2013   2013   15
                               2013101918  126.508369     0  2013   2013   50
                               2013110606  127.076623     1  2013   2013   25
                               2014031415  129.042373     0  2014   2014   10
                               2014041211  126.884914     0  2014   2014   50
                               2014041811  127.423938     0  2014   2014   40
                               2014042223  126.996499     1  2014   2014   30
...                                               ...   ...   ...    ...  ...
                               2014071413  128.341231     0  2014   2014    7
                               2014081300  129.213832     0  2014   2014   55
                               2014091607  128.732014     0  2014   2014   10
                               2014092421  126.721178     1  2014   2014   39
                               2014102118  126.846739     0  2014   2014   10
                               2015022322  126.673127     0  2015   2015   40
                               2015033015  128.483542     1  2015   2015   10
                               2015041800  128.531962     0  2015   2015   48
                               2015052210  126.862980     0  2015   2015   40
                               2015060217  127.339503     0  2015   2015   30
                               2015070405  127.097300     0  2015   2015   30
                               2015070704  127.661290     0  2015   2015   20
                               2015100418  126.383208     0  2015   2015   50
                               2015101316  126.916866     0  2015   2015   58
                               2016021009  126.862432     0  2016   2016    4
                               2016022319  127.196157     0  2016   2016   55
                               2016032119  128.895341     0  2016   2016   15
                               2016071320  127.198957     0  2016   2016   18
                               2016110319  128.768130     0  2016   2016    0
                               2016111100  129.379287     0  2016   2016   55
                               2017010606  127.038159     0  2017   2017    0
                               2017011811  127.565444     1  2017   2017   50
                               2017012201  126.877240     0  2017   2017   50
                               2017013123  127.593952     0  2017   2017   23
                               2017030913  129.163451     0  2017   2017   30
                               2017031900  128.542531     0  2017   2017   49
                               2017041410  129.480453     4  2017   2017   13
                               2017042922  128.594971     0  2017   2017   40
                               2017052818  127.074705     0  2017   2017    7
                               2017060402  127.008791     2  2017   2017    5

                                           발생시  발생월  발생위치X_UTMK  발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년월일시
중                              2016032909    9    3      984211     1732843
하                              2012012501    1    1      989134     1816516
                               2012031300    0    3     1101562     1761644
                               2012032619   19    3     1068347     1801048
                               2012040705    5    4      953799     1952417
                               2012042121   21    4     1074475     1793653
                               2012042200    0    4     1119475     1758861
                               2012050404    4    5     1092478     1766734
                               2012051505    5    5     1076547     1783325
                               2012052201    1    5      957955     1945220
                               2012082411   11    8      968532     1758230
                               2012092119   19    9      961093     1882141
                               2012101818   18   10      928775     1779155
                               2012111814   14   11      969300     1887210
                               2012111917   17   11     1034161     1947110
                               2013012305    5    1     1083799     1643713
                               2013021305    5    2     1045992     1798521
                               2013022102    2    2     1102953     1770529
                               2013071105    5    7      946781     1941588
                               2013072011   11    7      959762     1958906
                               2013082413   13    8      941053     1676138
                               2013090113   13    9     1015603     1640388
                               2013100112   12   10     1053544     1688925
                               2013101423   23   10      990575     1928766
                               2013101918   18   10      912701     1971482
                               2013110606    6   11      962592     1947806
                               2014031415   15    3     1140603     1678141
                               2014041211   11    4      945353     1901791
                               2014041811   11    4      993183     1826959
                               2014042223   23    4      955495     1944576
...                                        ...  ...         ...         ...
                               2014071413   13    7     1076805     1662764
                               2014081300    0    8     1155916     1696572
                               2014091607    7    9     1111535     1739605
                               2014092421   21    9      931118     1939816
                               2014102118   18   10      940478     1672971
                               2015022322   22    2      926865     1939493
                               2015033015   15    3     1087654     1875830
                               2015041800    0    4     1093233     1757504
                               2015052210   10    5      943571     1926597
                               2015060217   17    6      985430     1714073
                               2015070405    5    7      964408     1945247
                               2015070704    4    7     1014534     1809191
                               2015100418   18   10      897825     1644156
                               2015101316   16   10      948449     1943475
                               2016021009    9    2      943666     1947811
                               2016022319   19    2      973269     1983355
                               2016032119   19    3     1126964     1694343
                               2016071320   20    7      973335     1927104
                               2016110319   19   11     1113394     1847726
                               2016111100    0   11     1168587     1820969
                               2017010606    6    1      959245     1955990
                               2017011811   11    1     1005786     1942511
                               2017012201    1    1      943306     1688890
                               2017013123   23    1     1008617     1654909
                               2017030913   13    3     1151051     1713236
                               2017031900    0    3     1094858     1694138
                               2017041410   10    4     1179086     1751253
                               2017042922   22    4     1098692     1778420
                               2017052818   18    5      962607     1951094
                               2017060402    2    6      956462     1921621

                                           발생일  부상신고자수  부상자  사망자수  사상자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년월일시
중                              2016032909   29       0   15     4    19
하                              2012012501   25       0    1     1     2
                               2012031300   13       0    0     1     1
                               2012032619   26       0    0     1     1
                               2012040705    7       0    0     1     1
                               2012042121   21       0    0     1     1
                               2012042200   22       0    0     1     1
                               2012050404    4       0    1     1     2
                               2012051505   15       0    0     1     1
                               2012052201   22       0    0     1     1
                               2012082411   24       0    0     1     1
                               2012092119   21       0    1     1     2
                               2012101818   18       0    0     1     1
                               2012111814   18       0    0     1     1
                               2012111917   19       0    0     1     1
                               2013012305   23       0   12     1    13
                               2013021305   13       0    0     1     1
                               2013022102   21       0    0     1     1
                               2013071105   11       0    0     1     1
                               2013072011   20       0    0     1     1
                               2013082413   24       0    0     1     1
                               2013090113    1       0    0     1     1
                               2013100112    1       0    1     1     2
                               2013101423   14       0    0     1     1
                               2013101918   19       0    0     1     1
                               2013110606    6       0    1     1     2
                               2014031415   14       0    0     1     1
                               2014041211   12       0    0     1     1
                               2014041811   18       0    0     1     1
                               2014042223   22       0    1     1     2
...                                        ...     ...  ...   ...   ...
                               2014071413   14       0    0     1     1
                               2014081300   13       0    0     1     1
                               2014091607   16       0    0     1     1
                               2014092421   24       0    3     1     4
                               2014102118   21       0    0     1     1
                               2015022322   23       0    0     1     1
                               2015033015   30       0    1     1     2
                               2015041800   18       0    0     1     1
                               2015052210   22       0    0     1     1
                               2015060217    2       0    0     1     1
                               2015070405    4       0    0     1     1
                               2015070704    7       0    0     1     1
                               2015100418    4       0    0     1     1
                               2015101316   13       0    0     1     1
                               2016021009   10       0    0     1     1
                               2016022319   23       0    0     1     1
                               2016032119   21       0    0     1     1
                               2016071320   13       0    0     1     1
                               2016110319    3       0    0     1     1
                               2016111100   11       0    0     1     1
                               2017010606    6       0    0     1     1
                               2017011811   18       0    1     1     2
                               2017012201   22       0    0     1     1
                               2017013123   31       0    0     1     1
                               2017030913    9       0    0     1     1
                               2017031900   19       0    0     1     1
                               2017041410   14       0    4     1     5
                               2017042922   29       0    0     1     1
                               2017052818   28       0    0     1     1
                               2017060402    4       0    2     1     3

                                                  위도  중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년월일시
중                              2016032909  35.591524    11
하                              2012012501  36.345984     0
                               2012031300  35.846067     0
                               2012032619  36.204178     0
                               2012040705  37.569964     0
                               2012042121  36.137062     0
                               2012042200  35.819346     0
                               2012050404  35.892851     1
                               2012051505  36.043795     0
                               2012052201  37.505295     0
                               2012082411  35.820335     0
                               2012092119  36.936849     0
                               2012101818  36.006607     0
                               2012111814  36.982846     0
                               2012111917  37.522656     0
                               2013012305  34.784505     5
                               2013021305  36.182718     0
                               2013022102  35.926299     0
                               2013071105  37.472395     0
                               2013072011  37.628731     0
                               2013082413  35.078701     0
                               2013090113  34.757553     0
                               2013100112  35.194220     1
                               2013101423  37.357892     0
                               2013101918  37.739244     0
                               2013110606  37.528803     0
                               2014031415  35.088631     0
                               2014041211  37.113190     0
                               2014041811  36.440168     0
                               2014042223  37.499375     0
...                                              ...   ...
                               2014071413  34.956832     0
                               2014081300  35.252463     0
                               2014091607  35.646318     0
                               2014092421  37.454976     2
                               2014102118  35.050014     0
                               2015022322  37.451738     0
                               2015033015  36.876692     0
                               2015041800  35.809574     0
                               2015052210  37.336674     0
                               2015060217  35.422300     0
                               2015070405  37.505810     0
                               2015070704  36.280123     0
                               2015100418  34.786822     0
                               2015101316  37.489085     0
                               2016021009  37.527886     0
                               2016022319  37.849586     0
                               2016032119  35.236459     0
                               2016071320  37.342576     0
                               2016110319  36.620661     0
                               2016111100  36.371406     0
                               2017010606  37.602449     0
                               2017011811  37.481816     0
                               2017012201  35.193748     0
                               2017013123  34.888793     0
                               2017030913  35.403404     0
                               2017031900  35.238164     0
                               2017041410  35.741338     0
                               2017042922  35.997586     0
                               2017052818  37.559266     0
                               2017060402  37.292516     0

[64 rows x 16 columns]

                                              경도      경상자수     발생년  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년.1
중                              2016   127.325710  4.000000  2016.0
하                              2012   127.732630  0.142857  2012.0
                               2013   127.509174  0.727273  2013.0
                               2014   127.929963  0.230769  2014.0
                               2015   127.327753  0.111111  2015.0
                               2016   128.050051  0.000000  2016.0
                               2017   127.893970  0.700000  2017.0

                                            발생년월일시        발생분        발생시  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년.1
중                              2016   2.016033e+09  44.000000   9.000000
하                              2012   2.012061e+09  20.285714   9.642857
                               2013   2.013071e+09  23.454545  10.272727
                               2014   2.014063e+09  28.461538  14.538462
                               2015   2.015061e+09  36.222222  11.888889
                               2016   2.016061e+09  24.500000  14.333333
                               2017   2.017031e+09  26.700000  10.600000

                                           발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년.1
중                              2016   3.000000  9.842110e+05  1.732843e+06
하                              2012   5.928571  1.021117e+06  1.830947e+06
                               2013   7.000000  1.001396e+06  1.815160e+06
                               2014   6.153846  1.039199e+06  1.799322e+06
                               2015   6.000000  9.846632e+05  1.839507e+06
                               2016   6.000000  1.049869e+06  1.870218e+06
                               2017   2.900000  1.035971e+06  1.805206e+06

                                            발생일  부상신고자수        부상자  사망자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년.1
중                              2016   29.000000     0.0  15.000000   4.0
하                              2012   18.214286     0.0   0.214286   1.0
                               2013   13.909091     0.0   1.272727   1.0
                               2014   17.230769     0.0   0.538462   1.0
                               2015   13.666667     0.0   0.111111   1.0
                               2016   13.500000     0.0   0.000000   1.0
                               2017   18.000000     0.0   0.700000   1.0

                                           사상자수         위도       중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생년.1
중                              2016   19.000000  35.591524  11.000000
하                              2012    1.214286  36.473845   0.071429
                               2013    2.272727  36.331915   0.545455
                               2014    1.538462  36.186455   0.307692
                               2015    1.111111  36.550980   0.000000
                               2016    1.000000  36.824762   0.000000
                               2017    1.700000  36.239908   0.000000

                                            경도      경상자수          발생년  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생월
중                              3    127.325710  4.000000  2016.000000
하                              1    127.478270  1.500000  2015.500000
                               2    127.477344  0.000000  2014.600000
                               3    128.716028  0.142857  2014.714286
                               4    128.062051  0.500000  2014.100000
                               5    127.567286  0.000000  2013.600000
                               6    127.730949  0.600000  2014.800000
                               7    127.373480  0.000000  2014.333333
                               8    127.739832  0.000000  2013.000000
                               9    127.546039  0.500000  2013.250000
                               10   126.978084  0.000000  2013.571429
                               11   128.053136  0.200000  2013.800000

                                          발생년.1        발생년월일시        발생분  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생월
중                              3    2016.000000  2.016033e+09  44.000000
하                              1    2015.500000  2.015512e+09  25.500000
                               2    2014.600000  2.014622e+09  25.000000
                               3    2014.714286  2.014746e+09  27.857143
                               4    2014.100000  2.014142e+09  28.400000
                               5    2013.600000  2.013652e+09  26.400000
                               6    2014.800000  2.014861e+09  25.800000
                               7    2014.333333  2.014404e+09  20.833333
                               8    2013.000000  2.013082e+09  18.333333
                               9    2013.250000  2.013342e+09  29.750000
                               10   2013.571429  2.013673e+09  35.714286
                               11   2013.800000  2.013911e+09  17.000000

                                          발생시    발생위치X_UTMK    발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생월
중                              3     9.000000  9.842110e+05  1.732843e+06
하                              1     7.833333  9.983145e+05  1.783755e+06
                               2    11.400000  9.985490e+05  1.887942e+06
                               3    11.571429  1.110148e+06  1.745483e+06
                               4    12.500000  1.051123e+06  1.814654e+06
                               5     7.600000  1.006632e+06  1.874594e+06
                               6    13.400000  1.020511e+06  1.856517e+06
                               7     9.666667  9.892708e+05  1.874133e+06
                               8     8.000000  1.021834e+06  1.710313e+06
                               9    15.000000  1.004837e+06  1.800488e+06
                               10   17.571429  9.531924e+05  1.804133e+06
                               11   11.200000  1.049607e+06  1.890164e+06

                                          발생일  부상신고자수        부상자  사망자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생월
중                              3    29.000000     0.0  15.000000   4.0
하                              1    20.833333     0.0   2.333333   1.0
                               2    18.000000     0.0   0.000000   1.0
                               3    18.857143     0.0   0.142857   1.0
                               4    19.000000     0.0   0.600000   1.0
                               5    18.200000     0.0   0.200000   1.0
                               6     9.800000     0.0   0.800000   1.0
                               7    11.500000     0.0   0.000000   1.0
                               8    20.333333     0.0   0.000000   1.0
                               9    15.500000     0.0   1.000000   1.0
                               10   12.857143     0.0   0.142857   1.0
                               11   11.400000     0.0   0.200000   1.0

                                         사상자수         위도       중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생월
중                              3    19.000000  35.591524  11.000000
하                              1     3.333333  36.049549   0.833333
                               2     1.000000  36.987645   0.000000
                               3     1.142857  35.699085   0.000000
                               4     1.600000  36.324792   0.100000
                               5     1.200000  36.867576   0.200000
                               6     1.800000  36.703289   0.200000
                               7     1.000000  36.864411   0.000000
                               8     1.000000  35.383833   0.000000
                               9     2.000000  36.198924   0.500000
                               10    1.142857  36.231983   0.142857
                               11    1.200000  37.005274   0.000000

                                            경도      경상자수      발생년    발생년.1  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생일
중                              29   127.325710  4.000000  2016.00  2016.00
하                              1    127.878019  0.000000  2013.00  2013.00
                               2    128.202952  0.500000  2014.50  2014.50
                               3    128.768130  0.000000  2016.00  2016.00
                               4    127.253494  0.500000  2014.75  2014.75
                               6    127.057391  0.500000  2015.00  2015.00
                               7    127.319054  0.000000  2013.50  2013.50
                               9    129.163451  0.000000  2017.00  2017.00
                               10   126.862432  0.000000  2016.00  2016.00
                               11   128.138703  0.000000  2014.50  2014.50
                               12   126.884914  0.000000  2014.00  2014.00
                               13   127.993160  0.000000  2014.00  2014.00
                               14   128.564407  1.000000  2014.50  2014.50
                               15   128.349778  0.000000  2012.00  2012.00
                               16   128.732014  0.000000  2014.00  2014.00
                               18   127.629880  0.166667  2014.00  2014.00
                               19   127.645832  0.000000  2014.00  2014.00
                               20   127.043985  0.000000  2013.00  2013.00
                               21   127.955289  0.200000  2013.40  2013.40
                               22   127.316772  0.200000  2014.00  2014.00
                               23   127.283009  1.750000  2014.50  2014.50
                               24   126.908947  0.333333  2013.00  2013.00
                               25   127.378906  1.000000  2012.00  2012.00
                               26   128.260294  0.000000  2012.00  2012.00
                               27   128.580348  0.000000  2014.00  2014.00
                               28   127.074705  0.000000  2017.00  2017.00
                               29   128.594971  0.000000  2017.00  2017.00
                               30   128.483542  1.000000  2015.00  2015.00
                               31   127.593952  0.000000  2017.00  2017.00

                                          발생년월일시        발생분        발생시  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생일
중                              29   2.016033e+09  44.000000   9.000000
하                              1    2.013095e+09  46.000000  12.500000
                               2    2.014560e+09  42.500000  15.000000
                               3    2.016110e+09   0.000000  19.000000
                               4    2.014820e+09  27.500000   7.250000
                               6    2.015061e+09  12.500000   6.000000
                               7    2.013556e+09  27.500000   4.500000
                               9    2.017031e+09  30.000000  13.000000
                               10   2.016021e+09   4.000000   9.000000
                               11   2.014591e+09  32.500000   2.500000
                               12   2.014041e+09  50.000000  11.000000
                               13   2.014061e+09  37.800000   8.200000
                               14   2.014561e+09  11.250000  15.250000
                               15   2.012052e+09  50.000000   5.000000
                               16   2.014092e+09  10.000000   7.000000
                               18   2.014062e+09  29.666667  11.333333
                               19   2.014082e+09  34.666667  11.666667
                               20   2.013072e+09  40.000000  11.000000
                               21   2.013458e+09  13.600000  15.800000
                               22   2.014040e+09  26.600000   7.000000
                               23   2.014530e+09  27.250000  16.750000
                               24   2.013086e+09  13.000000  15.000000
                               25   2.012013e+09  30.000000   1.000000
                               26   2.012033e+09  36.000000  19.000000
                               27   2.014043e+09  25.000000  22.000000
                               28   2.017053e+09   7.000000  18.000000
                               29   2.017043e+09  40.000000  22.000000
                               30   2.015033e+09  10.000000  15.000000
                               31   2.017013e+09  23.000000  23.000000

                                          발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생일
중                              29    3.000000  9.842110e+05  1.732843e+06
하                              1     9.500000  1.034574e+06  1.664656e+06
                               2     6.000000  1.062144e+06  1.817886e+06
                               3    11.000000  1.113394e+06  1.847726e+06
                               4     7.000000  9.777932e+05  1.819440e+06
                               6     6.000000  9.609185e+05  1.951898e+06
                               7     5.500000  9.841665e+05  1.880804e+06
                               9     3.000000  1.151051e+06  1.713236e+06
                               10    2.000000  9.436660e+05  1.947811e+06
                               11    9.000000  1.057684e+06  1.881278e+06
                               12    4.000000  9.453530e+05  1.901791e+06
                               13    6.000000  1.045051e+06  1.825463e+06
                               14    6.000000  1.096767e+06  1.755231e+06
                               15    5.000000  1.076547e+06  1.783325e+06
                               16    9.000000  1.111535e+06  1.739605e+06
                               18    6.000000  1.011704e+06  1.838774e+06
                               19    8.000000  1.013907e+06  1.870910e+06
                               20    7.000000  9.597620e+05  1.958906e+06
                               21    5.600000  1.041193e+06  1.762727e+06
                               22    3.800000  9.839604e+05  1.852829e+06
                               23    2.750000  9.814482e+05  1.863111e+06
                               24    8.333333  9.469010e+05  1.791395e+06
                               25    1.000000  9.891340e+05  1.816516e+06
                               26    3.000000  1.068347e+06  1.801048e+06
                               27    4.000000  1.098441e+06  1.681105e+06
                               28    5.000000  9.626070e+05  1.951094e+06
                               29    4.000000  1.098692e+06  1.778420e+06
                               30    3.000000  1.087654e+06  1.875830e+06
                               31    1.000000  1.008617e+06  1.654909e+06

                                    부상신고자수        부상자  사망자수       사상자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생일
중                              29      0.0  15.000000   4.0  19.000000
하                              1       0.0   0.500000   1.0   1.500000
                               2       0.0   1.000000   1.0   2.000000
                               3       0.0   0.000000   1.0   1.000000
                               4       0.0   0.750000   1.0   1.750000
                               6       0.0   0.500000   1.0   1.500000
                               7       0.0   0.000000   1.0   1.000000
                               9       0.0   0.000000   1.0   1.000000
                               10      0.0   0.000000   1.0   1.000000
                               11      0.0   0.000000   1.0   1.000000
                               12      0.0   0.000000   1.0   1.000000
                               13      0.0   0.000000   1.0   1.000000
                               14      0.0   1.000000   1.0   2.000000
                               15      0.0   0.000000   1.0   1.000000
                               16      0.0   0.000000   1.0   1.000000
                               18      0.0   0.166667   1.0   1.166667
                               19      0.0   0.000000   1.0   1.000000
                               20      0.0   0.000000   1.0   1.000000
                               21      0.0   0.200000   1.0   1.200000
                               22      0.0   0.200000   1.0   1.200000
                               23      0.0   3.000000   1.0   4.000000
                               24      0.0   1.000000   1.0   2.000000
                               25      0.0   1.000000   1.0   2.000000
                               26      0.0   0.000000   1.0   1.000000
                               27      0.0   1.000000   1.0   2.000000
                               28      0.0   0.000000   1.0   1.000000
                               29      0.0   0.000000   1.0   1.000000
                               30      0.0   1.000000   1.0   2.000000
                               31      0.0   0.000000   1.0   1.000000

                                           위도       중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생일
중                              29   35.591524  11.000000
하                              1    34.975886   0.500000
                               2    36.353082   0.500000
                               3    36.620661   0.000000
                               4    36.369500   0.250000
                               6    37.565626   0.000000
                               7    36.925044   0.000000
                               9    35.403404   0.000000
                               10   37.527886   0.000000
                               11   36.921900   0.000000
                               12   37.113190   0.000000
                               13   36.422582   0.000000
                               14   35.786173   0.000000
                               15   36.043795   0.000000
                               16   35.646318   0.000000
                               18   36.544864   0.000000
                               19   36.833354   0.000000
                               20   37.628731   0.000000
                               21   35.857336   0.000000
                               22   36.670888   0.000000
                               23   36.763854   1.250000
                               24   36.118004   0.666667
                               25   36.345984   0.000000
                               26   36.204178   0.000000
                               27   35.120318   1.000000
                               28   37.559266   0.000000
                               29   35.997586   0.000000
                               30   36.876692   0.000000
                               31   34.888793   0.000000

                                            경도      경상자수          발생년  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생시
중                              9    127.325710  4.000000  2016.000000
하                              0    128.852521  0.000000  2014.333333
                               1    127.093480  0.333333  2013.666667
                               2    127.826157  1.000000  2015.000000
                               4    128.092983  0.000000  2013.500000
                               5    127.624903  1.166667  2013.000000
                               6    127.057391  0.500000  2015.000000
                               7    128.732014  0.000000  2014.000000
                               9    126.862432  0.000000  2016.000000
                               10   128.171716  2.000000  2016.000000
                               11   127.214132  0.200000  2014.000000
                               12   128.088163  0.000000  2013.000000
                               13   128.218448  0.200000  2014.200000
                               14   127.774131  0.000000  2013.000000
                               15   128.762958  0.500000  2014.500000
                               16   126.916866  0.000000  2015.000000
                               17   127.613049  0.000000  2013.500000
                               18   126.704539  0.000000  2014.200000
                               19   128.036602  0.200000  2014.400000
                               20   127.198957  0.000000  2016.000000
                               21   127.298587  0.333333  2013.333333
                               22   127.949482  0.000000  2015.333333
                               23   127.328008  0.333333  2014.666667

                                          발생년.1        발생년월일시        발생분  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생시
중                              9    2016.000000  2.016033e+09  44.000000
하                              0    2014.333333  2.014390e+09  42.500000
                               1    2013.666667  2.013692e+09  30.000000
                               2    2015.000000  2.015041e+09   9.000000
                               4    2013.500000  2.013561e+09  22.500000
                               5    2013.000000  2.013045e+09  23.000000
                               6    2015.000000  2.015061e+09  12.500000
                               7    2014.000000  2.014092e+09  10.000000
                               9    2016.000000  2.016021e+09   4.000000
                               10   2016.000000  2.016047e+09  26.500000
                               11   2014.000000  2.014050e+09  36.000000
                               12   2013.000000  2.013100e+09  52.000000
                               13   2014.200000  2.014267e+09  26.400000
                               14   2013.000000  2.013087e+09  12.500000
                               15   2014.500000  2.014532e+09  10.000000
                               16   2015.000000  2.015101e+09  58.000000
                               17   2013.500000  2.013586e+09  17.500000
                               18   2014.200000  2.014292e+09  26.400000
                               19   2014.400000  2.014458e+09  27.200000
                               20   2016.000000  2.016071e+09  18.000000
                               21   2013.333333  2.013399e+09  17.666667
                               22   2015.333333  2.015369e+09  35.000000
                               23   2014.666667  2.014719e+09  22.666667

                                          발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생시
중                              9     3.000000  9.842110e+05  1.732843e+06
하                              0     5.500000  1.122272e+06  1.748281e+06
                               1     2.333333  9.634650e+05  1.816875e+06
                               2     4.000000  1.029708e+06  1.846075e+06
                               4     6.000000  1.053506e+06  1.787962e+06
                               5     4.333333  1.011888e+06  1.844135e+06
                               6     6.000000  9.609185e+05  1.951898e+06
                               7     9.000000  1.111535e+06  1.739605e+06
                               9     2.000000  9.436660e+05  1.947811e+06
                               10    4.500000  1.061328e+06  1.838925e+06
                               11    4.800000  9.745232e+05  1.877679e+06
                               12   10.000000  1.053544e+06  1.688925e+06
                               13    6.600000  1.064674e+06  1.722845e+06
                               14    8.500000  1.024622e+06  1.863259e+06
                               15    3.000000  1.114128e+06  1.776986e+06
                               16   10.000000  9.484490e+05  1.943475e+06
                               17    8.500000  1.009796e+06  1.830592e+06
                               18    9.000000  9.284772e+05  1.803772e+06
                               19    5.600000  1.048613e+06  1.841723e+06
                               20    7.000000  9.733350e+05  1.927104e+06
                               21    6.333333  9.824843e+05  1.873117e+06
                               22    3.333333  1.041333e+06  1.799673e+06
                               23    5.000000  9.848957e+05  1.842750e+06

                                          발생일  부상신고자수        부상자  사망자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생시
중                              9    29.000000     0.0  15.000000   4.0
하                              0    16.000000     0.0   0.000000   1.0
                               1    23.000000     0.0   0.333333   1.0
                               2    12.500000     0.0   1.000000   1.0
                               4     5.500000     0.0   0.500000   1.0
                               5    12.166667     0.0   2.000000   1.0
                               6     6.000000     0.0   0.500000   1.0
                               7    16.000000     0.0   0.000000   1.0
                               9    10.000000     0.0   0.000000   1.0
                               10   18.000000     0.0   2.000000   1.0
                               11   18.400000     0.0   0.200000   1.0
                               12    1.000000     0.0   1.000000   1.0
                               13   10.000000     0.0   0.400000   1.0
                               14   18.000000     0.0   0.000000   1.0
                               15   22.000000     0.0   0.500000   1.0
                               16   13.000000     0.0   0.000000   1.0
                               17   10.500000     0.0   0.000000   1.0
                               18   18.000000     0.0   0.000000   1.0
                               19   18.800000     0.0   0.200000   1.0
                               20   13.000000     0.0   0.000000   1.0
                               21   22.666667     0.0   1.000000   1.0
                               22   26.333333     0.0   0.333333   1.0
                               23   22.333333     0.0   0.333333   1.0

                                         사상자수         위도       중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생시
중                              9    19.000000  35.591524  11.000000
하                              0     1.000000  35.722837   0.000000
                               1     1.333333  36.348342   0.000000
                               2     2.000000  36.609407   0.000000
                               4     1.500000  36.086487   0.500000
                               5     3.000000  36.593198   0.833333
                               6     1.500000  37.565626   0.000000
                               7     1.000000  35.646318   0.000000
                               9     1.000000  37.527886   0.000000
                               10    3.000000  36.539006   0.000000
                               11    1.200000  36.896848   0.000000
                               12    2.000000  35.194220   1.000000
                               13    1.400000  35.496071   0.200000
                               14    1.000000  36.765511   0.000000
                               15    1.500000  35.982662   0.000000
                               16    1.000000  37.489085   0.000000
                               17    1.000000  36.472478   0.000000
                               18    1.000000  36.228391   0.000000
                               19    1.200000  36.569547   0.000000
                               20    1.000000  37.342576   0.000000
                               21    2.000000  36.853875   0.666667
                               22    1.333333  36.189881   0.333333
                               23    1.333333  36.582020   0.000000

                                            경도      경상자수          발생년  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생분
중                              44   127.325710  4.000000  2016.000000
하                              0    127.672953  1.000000  2013.571429
                               3    128.822850  0.000000  2012.000000
                               4    126.862432  0.000000  2016.000000
                               5    127.447693  1.000000  2014.500000
                               7    127.707968  0.000000  2015.500000
                               10   127.837847  0.166667  2013.666667
                               13   128.711818  1.333333  2014.333333
                               14   126.846830  0.000000  2014.000000
                               15   127.666195  0.000000  2013.666667
                               18   127.198957  0.000000  2016.000000
                               20   127.661290  0.000000  2015.000000
                               23   127.593952  0.000000  2017.000000
                               25   128.143717  0.250000  2013.250000
                               30   127.506458  0.500000  2014.166667
                               35   126.976819  0.000000  2012.000000
                               36   128.260294  0.000000  2012.000000
                               39   126.721178  1.000000  2014.000000
                               40   127.377813  0.000000  2014.500000
                               45   128.624664  0.000000  2012.000000
                               48   128.531962  0.000000  2015.000000
                               49   128.542531  0.000000  2017.000000
                               50   127.094826  0.166667  2014.666667
                               52   128.088163  0.000000  2013.000000
                               55   128.713919  0.250000  2015.000000
                               58   126.916866  0.000000  2015.000000

                                          발생년.1        발생년월일시        발생시  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생분
중                              44   2016.000000  2.016033e+09   9.000000
하                              0    2013.571429  2.013636e+09  12.714286
                               3    2012.000000  2.012042e+09   0.000000
                               4    2016.000000  2.016021e+09   9.000000
                               5    2014.500000  2.014586e+09   9.500000
                               7    2015.500000  2.015562e+09  15.500000
                               10   2013.666667  2.013730e+09  10.166667
                               13   2014.333333  2.014362e+09   5.666667
                               14   2014.000000  2.014062e+09  21.000000
                               15   2013.666667  2.013745e+09  20.000000
                               18   2016.000000  2.016071e+09  20.000000
                               20   2015.000000  2.015071e+09   4.000000
                               23   2017.000000  2.017013e+09  23.000000
                               25   2013.250000  2.013316e+09  11.500000
                               30   2014.166667  2.014218e+09  13.000000
                               35   2012.000000  2.012041e+09   5.000000
                               36   2012.000000  2.012033e+09  19.000000
                               39   2014.000000  2.014092e+09  21.000000
                               40   2014.500000  2.014554e+09  14.833333
                               45   2012.000000  2.012031e+09   0.000000
                               48   2015.000000  2.015042e+09   0.000000
                               49   2017.000000  2.017032e+09   0.000000
                               50   2014.666667  2.014720e+09  10.666667
                               52   2013.000000  2.013100e+09  12.000000
                               55   2015.000000  2.015069e+09   8.000000
                               58   2015.000000  2.015101e+09  16.000000

                                          발생월    발생위치X_UTMK    발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생분
중                              44    3.000000  9.842110e+05  1.732843e+06
하                              0     6.285714  1.015685e+06  1.794666e+06
                               3     4.000000  1.119475e+06  1.758861e+06
                               4     2.000000  9.436660e+05  1.947811e+06
                               5     8.500000  9.953115e+05  1.934366e+06
                               7     6.000000  1.019706e+06  1.806929e+06
                               10    6.166667  1.030834e+06  1.808892e+06
                               13    2.666667  1.109344e+06  1.773434e+06
                               14    6.000000  9.418600e+05  1.885883e+06
                               15    7.666667  1.015438e+06  1.800755e+06
                               18    7.000000  9.733350e+05  1.927104e+06
                               20    7.000000  1.014534e+06  1.809191e+06
                               23    1.000000  1.008617e+06  1.654909e+06
                               25    6.500000  1.058364e+06  1.808738e+06
                               30    5.000000  1.001102e+06  1.835965e+06
                               35    4.000000  9.537990e+05  1.952417e+06
                               36    3.000000  1.068347e+06  1.801048e+06
                               39    9.000000  9.311180e+05  1.939816e+06
                               40    5.166667  9.896127e+05  1.845127e+06
                               45    3.000000  1.101562e+06  1.761644e+06
                               48    4.000000  1.093233e+06  1.757504e+06
                               49    3.000000  1.094858e+06  1.694138e+06
                               50    5.166667  9.635863e+05  1.822026e+06
                               52   10.000000  1.053544e+06  1.688925e+06
                               55    6.750000  1.109157e+06  1.855648e+06
                               58   10.000000  9.484490e+05  1.943475e+06

                                          발생일  부상신고자수        부상자  사망자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생분
중                              44   29.000000     0.0  15.000000   4.0
하                              0    17.000000     0.0   1.714286   1.0
                               3    22.000000     0.0   0.000000   1.0
                               4    10.000000     0.0   0.000000   1.0
                               5    11.500000     0.0   1.000000   1.0
                               7    21.000000     0.0   0.000000   1.0
                               10   19.000000     0.0   0.166667   1.0
                               13   16.000000     0.0   1.333333   1.0
                               14   23.000000     0.0   0.000000   1.0
                               15   17.666667     0.0   0.000000   1.0
                               18   13.000000     0.0   0.000000   1.0
                               20    7.000000     0.0   0.000000   1.0
                               23   31.000000     0.0   0.000000   1.0
                               25   13.750000     0.0   0.750000   1.0
                               30   13.833333     0.0   0.500000   1.0
                               35    7.000000     0.0   0.000000   1.0
                               36   26.000000     0.0   0.000000   1.0
                               39   24.000000     0.0   3.000000   1.0
                               40   18.833333     0.0   0.000000   1.0
                               45   13.000000     0.0   0.000000   1.0
                               48   18.000000     0.0   0.000000   1.0
                               49   19.000000     0.0   0.000000   1.0
                               50   15.000000     0.0   0.166667   1.0
                               52    1.000000     0.0   1.000000   1.0
                               55   12.250000     0.0   0.500000   1.0
                               58   13.000000     0.0   0.000000   1.0

                                         사상자수         위도       중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 발생분
중                              44   19.000000  35.591524  11.000000
하                              0     2.714286  36.146651   0.714286
                               3     1.000000  35.819346   0.000000
                               4     1.000000  37.527886   0.000000
                               5     2.000000  37.407586   0.000000
                               7     1.000000  36.258049   0.000000
                               10    1.166667  36.273224   0.000000
                               13    2.333333  35.950118   0.000000
                               14    1.000000  36.969588   0.000000
                               15    1.000000  36.200319   0.000000
                               18    1.000000  37.342576   0.000000
                               20    1.000000  36.280123   0.000000
                               23    1.000000  34.888793   0.000000
                               25    1.750000  36.272537   0.500000
                               30    1.500000  36.518954   0.000000
                               35    1.000000  37.569964   0.000000
                               36    1.000000  36.204178   0.000000
                               39    4.000000  37.454976   2.000000
                               40    1.000000  36.602075   0.000000
                               45    1.000000  35.846067   0.000000
                               48    1.000000  35.809574   0.000000
                               49    1.000000  35.238164   0.000000
                               50    1.166667  36.393103   0.000000
                               52    2.000000  35.194220   1.000000
                               55    1.500000  36.689330   0.250000
                               58    1.000000  37.489085   0.000000

                                                      경도      경상자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간             127.325710  4.000000
하                              야간             127.708107  0.333333
                               주간             127.771703  0.333333

                                                      발생년        발생년.1  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간             2016.000000  2016.000000
하                              야간             2014.128205  2014.128205
                               주간             2014.291667  2014.291667

                                                    발생년월일시        발생분  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간             2.016033e+09  44.000000
하                              야간             2.014184e+09  27.128205
                               주간             2.014355e+09  24.750000

                                                    발생시       발생월  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간              9.000000  3.000000
하                              야간             11.487179  5.384615
                               주간             12.000000  6.208333

                                                발생위치X_UTMK    발생위치Y_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간             9.842110e+05  1.732843e+06
하                              야간             1.019146e+06  1.819856e+06
                               주간             1.024782e+06  1.826906e+06

                                                    발생일  부상신고자수        부상자  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간             29.000000     0.0  15.000000
하                              야간             17.564103     0.0   0.564103
                               주간             13.791667     0.0   0.416667

                                              사망자수       사상자수         위도  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간              4.0  19.000000  35.591524
하                              야간              1.0   1.564103  36.372888
                               주간              1.0   1.416667  36.436361

                                                   중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 주야(6시,18시 기준)
중                              주간             11.000000
하                              야간              0.230769
                               주간              0.083333

                                              경도      경상자수          발생년  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 오전/오후
중                              오전     127.325710  4.000000  2016.000000
하                              오전     127.803553  0.533333  2014.133333
                               오후     127.667589  0.151515  2014.242424

                                            발생년.1        발생년월일시        발생분  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 오전/오후
중                              오전     2016.000000  2.016033e+09  44.000000
하                              오전     2014.133333  2.014182e+09  27.266667
                               오후     2014.242424  2.014310e+09  25.272727

                                            발생시       발생월    발생위치X_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 오전/오후
중                              오전      9.000000  3.000000  9.842110e+05
하                              오전      4.933333  4.733333  1.027803e+06
                               오후     17.818182  6.575758  1.015375e+06

                                        발생위치Y_UTMK        발생일  부상신고자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 오전/오후
중                              오전     1.732843e+06  29.000000     0.0
하                              오전     1.831022e+06  14.666667     0.0
                               오후     1.814833e+06  17.454545     0.0

                                            부상자  사망자수       사상자수         위도  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 오전/오후
중                              오전     15.000000   4.0  19.000000  35.591524
하                              오전      0.733333   1.0   1.733333  36.473358
                               오후      0.303030   1.0   1.303030  36.327714

                                           중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 오전/오후
중                              오전     11.000000
하                              오전      0.200000
                               오후      0.151515

                                           경도      경상자수          발생년  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일
중                              화   127.325710  4.000000  2016.000000
하                              금   127.996371  0.555556  2014.333333
                               목   128.036580  0.000000  2014.200000
                               수   127.683799  1.100000  2014.200000
                               월   127.982993  0.222222  2013.888889
                               일   127.568066  0.222222  2014.888889
                               토   127.424373  0.000000  2013.777778
                               화   127.614160  0.083333  2014.083333

                                         발생년.1        발생년월일시        발생분  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일
중                              화   2016.000000  2.016033e+09  44.000000
하                              금   2014.333333  2.014390e+09  23.666667
                               목   2014.200000  2.014267e+09  13.600000
                               수   2014.200000  2.014250e+09  25.900000
                               월   2013.888889  2.013947e+09  21.888889
                               일   2014.888889  2.014949e+09  25.444444
                               토   2013.777778  2.013837e+09  32.555556
                               화   2014.083333  2.014145e+09  32.750000

                                         발생시       발생월    발생위치X_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일
중                              화    9.000000  3.000000  9.842110e+05
하                              금    9.555556  5.555556  1.045153e+06
                               목   11.400000  6.600000  1.048591e+06
                               수    9.200000  4.800000  1.017128e+06
                               월   18.000000  5.666667  1.043565e+06
                               일    9.777778  5.888889  1.006431e+06
                               토   11.777778  5.777778  9.937196e+05
                               화   12.083333  6.000000  1.010618e+06

                                     발생위치Y_UTMK        발생일  부상신고자수        부상자  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일
중                              화   1.732843e+06  29.000000     0.0  15.000000
하                              금   1.818557e+06  14.888889     0.0   0.666667
                               목   1.810447e+06  12.400000     0.0   0.000000
                               수   1.849968e+06  16.300000     0.0   1.800000
                               월   1.850771e+06  19.111111     0.0   0.333333
                               일   1.763051e+06  16.111111     0.0   0.333333
                               토   1.859506e+06  17.111111     0.0   0.000000
                               화   1.803439e+06  15.500000     0.0   0.166667

                                   사망자수       사상자수         위도       중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일
중                              화    4.0  19.000000  35.591524  11.000000
하                              금    1.0   1.666667  36.358967   0.111111
                               목    1.0   1.000000  36.285873   0.000000
                               수    1.0   2.800000  36.644990   0.700000
                               월    1.0   1.333333  36.651100   0.111111
                               일    1.0   1.333333  35.861176   0.111111
                               토    1.0   1.000000  36.731096   0.000000
                               화    1.0   1.166667  36.226248   0.083333

                                              경도      경상자수          발생년  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일_주야
중                              화_주간   127.325710  4.000000  2016.000000
하                              금_야간   128.322351  0.333333  2013.333333
                               금_주간   127.833381  0.666667  2014.833333
                               목_야간   127.754862  0.000000  2013.500000
                               목_주간   129.163451  0.000000  2017.000000
                               수_야간   127.823379  1.500000  2013.666667
                               수_주간   127.474430  0.500000  2015.000000
                               월_야간   127.613833  0.000000  2014.000000
                               월_주간   128.444442  0.500000  2013.750000
                               일_야간   127.612810  0.285714  2015.571429
                               일_주간   127.411459  0.000000  2012.500000
                               토_야간   127.672863  0.000000  2014.000000
                               토_주간   126.927393  0.000000  2013.333333
                               화_야간   127.536672  0.125000  2014.000000
                               화_주간   127.769136  0.000000  2014.250000

                                            발생년.1        발생년월일시        발생분  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일_주야
중                              화_주간   2016.000000  2.016033e+09  44.000000
하                              금_야간   2013.333333  2.013418e+09  36.666667
                               금_주간   2014.833333  2.014877e+09  17.166667
                               목_야간   2013.500000  2.013576e+09   9.500000
                               목_주간   2017.000000  2.017031e+09  30.000000
                               수_야간   2013.666667  2.013715e+09  25.833333
                               수_주간   2015.000000  2.015051e+09  26.000000
                               월_야간   2014.000000  2.014050e+09  24.000000
                               월_주간   2013.750000  2.013819e+09  19.250000
                               일_야간   2015.571429  2.015620e+09  27.000000
                               일_주간   2012.500000  2.012601e+09  20.000000
                               토_야간   2014.000000  2.014057e+09  33.833333
                               토_주간   2013.333333  2.013399e+09  30.000000
                               화_야간   2014.000000  2.014048e+09  30.375000
                               화_주간   2014.250000  2.014338e+09  37.500000

                                            발생시        발생월    발생위치X_UTMK  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일_주야
중                              화_주간    9.000000   3.000000  9.842110e+05
하                              금_야간    7.666667   8.333333  1.074053e+06
                               금_주간   10.500000   4.166667  1.030703e+06
                               목_야간   11.000000   7.500000  1.022976e+06
                               목_주간   13.000000   3.000000  1.151051e+06
                               수_야간    8.666667   4.666667  1.029882e+06
                               수_주간   10.000000   5.000000  9.979970e+05
                               월_야간   20.800000   4.800000  1.010922e+06
                               월_주간   14.500000   6.750000  1.084369e+06
                               일_야간    8.714286   4.714286  1.010425e+06
                               일_주간   13.500000  10.000000  9.924515e+05
                               토_야간   11.833333   5.500000  1.016218e+06
                               토_주간   11.666667   6.333333  9.487227e+05
                               화_야간   11.625000   4.625000  1.003557e+06
                               화_주간   13.000000   8.750000  1.024740e+06

                                        발생위치Y_UTMK        발생일  부상신고자수  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일_주야
중                              화_주간   1.732843e+06  29.000000     0.0
하                              금_야간   1.823281e+06  12.000000     0.0
                               금_주간   1.816195e+06  16.333333     0.0
                               목_야간   1.834750e+06  13.250000     0.0
                               목_주간   1.713236e+06   9.000000     0.0
                               수_야간   1.803707e+06  18.500000     0.0
                               수_주간   1.919359e+06  13.000000     0.0
                               월_야간   1.849907e+06  21.400000     0.0
                               월_주간   1.851850e+06  16.250000     0.0
                               일_야간   1.762838e+06  18.000000     0.0
                               일_주간   1.763799e+06   9.500000     0.0
                               토_야간   1.866454e+06  16.333333     0.0
                               토_주간   1.845612e+06  18.666667     0.0
                               화_야간   1.819399e+06  19.250000     0.0
                               화_주간   1.771520e+06   8.000000     0.0

                                            부상자  사망자수       사상자수         위도  \
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일_주야
중                              화_주간   15.000000   4.0  19.000000  35.591524
하                              금_야간    0.666667   1.0   1.666667  36.400369
                               금_주간    0.666667   1.0   1.666667  36.338266
                               목_야간    0.000000   1.0   1.000000  36.506490
                               목_주간    0.000000   1.0   1.000000  35.403404
                               수_야간    2.666667   1.0   3.666667  36.227204
                               수_주간    0.500000   1.0   1.500000  37.271670
                               월_야간    0.000000   1.0   1.000000  36.643971
                               월_주간    0.750000   1.0   1.750000  36.660011
                               일_야간    0.428571   1.0   1.428571  35.858597
                               일_주간    0.000000   1.0   1.000000  35.870200
                               토_야간    0.000000   1.0   1.000000  36.793206
                               토_주간    0.000000   1.0   1.000000  36.606874
                               화_야간    0.125000   1.0   1.125000  36.370381
                               화_주간    0.250000   1.0   1.250000  35.937981

                                           중상자수
사망자 피해수준(하 0~2 / 중 3~4 / 상 5~) 요일_주야
중                              화_주간   11.000000
하                              금_야간    0.333333
                               금_주간    0.000000
                               목_야간    0.000000
                               목_주간    0.000000
                               수_야간    1.166667
                               수_주간    0.000000
                               월_야간    0.000000
                               월_주간    0.250000
                               일_야간    0.142857
                               일_주간    0.000000
                               토_야간    0.000000
                               토_주간    0.000000
                               화_야간    0.000000
                               화_주간    0.250000

In [24]:
#coding = cp949

import os, csv
import random, pandas
from sklearn.preprocessing import LabelEncoder

filepath = os.path.join("../", "data_train")
train_data_file = os.path.join(filepath, "train.csv")
df = pandas.read_csv(train_data_file, encoding="utf-8", engine='python')
# df.dtypes.index
event_records = df.values

# print(event_records)
encoder_list=[]
for i in encode_index:
    le = LabelEncoder()
    df[i]= le.fit_transform(df[i])
    encoder_list.append(le)

print(df)

        발생년      발생년월일시  발생년.1  발생월  발생일  발생시  발생분  주야(6시,18시 기준)  오전/오후  요일  \
0      2017  2017061513   2017    6   15   13   55              1      1   1
1      2017  2017052917   2017    5   29   17   50              1      1   3
2      2017  2017043019   2017    4   30   19   40              0      1   4
3      2017  2017011920   2017    1   19   20   35              0      1   1
4      2017  2017011906   2017    1   19    6   55              1      0   1
5      2016  2016122417   2016   12   24   17   14              1      1   5
6      2016  2016122414   2016   12   24   14   45              1      1   5
7      2016  2016121619   2016   12   16   19   30              0      1   0
8      2016  2016111915   2016   11   19   15   30              1      1   5
9      2016  2016111405   2016   11   14    5    0              0      0   3
10     2016  2016110509   2016   11    5    9   40              1      0   5
11     2016  2016092514   2016    9   25   14   27              1      1   4
12     2016  2016083106   2016    8   31    6   15              1      0   2
13     2016  2016081519   2016    8   15   19   30              0      1   3
14     2016  2016051522   2016    5   15   22   50              0      1   4
15     2016  2016050815   2016    5    8   15   40              1      1   4
16     2016  2016042307   2016    4   23    7   50              1      0   5
17     2016  2016022707   2016    2   27    7   35              1      0   5
18     2016  2016011216   2016    1   12   16   39              1      1   6
19     2016  2016010718   2016    1    7   18    3              0      1   1
20     2015  2015110621   2015   11    6   21   14              0      1   0
21     2015  2015110218   2015   11    2   18   20              0      1   3
22     2015  2015101618   2015   10   16   18   25              0      1   0
23     2015  2015101116   2015   10   11   16   30              1      1   4
24     2015  2015100411   2015   10    4   11   30              1      0   4
25     2015  2015091916   2015    9   19   16   45              1      1   5
26     2015  2015091302   2015    9   13    2    0              0      0   4
27     2015  2015082622   2015    8   26   22    0              0      1   2
28     2015  2015080622   2015    8    6   22   40              0      1   1
29     2015  2015062221   2015    6   22   21   30              0      1   3
...     ...         ...    ...  ...  ...  ...  ...            ...    ...  ..
25007  2013  2013092708   2013    9   27    8    5              1      0   0
25008  2013  2013090815   2013    9    8   15    5              1      1   4
25009  2013  2013081814   2013    8   18   14    5              1      1   4
25010  2013  2013081410   2013    8   14   10    5              1      0   2
25011  2013  2013072918   2013    7   29   18    5              0      1   3
25012  2013  2013072617   2013    7   26   17    5              1      1   0
25013  2013  2013042116   2013    4   21   16    5              1      1   4
25014  2013  2013041508   2013    4   15    8    5              1      0   3
25015  2013  2013032514   2013    3   25   14    5              1      1   3
25016  2013  2013031520   2013    3   15   20    5              0      1   0
25017  2013  2013030705   2013    3    7    5    5              0      0   1
25018  2012  2012123018   2012   12   30   18    5              0      1   4
25019  2012  2012121215   2012   12   12   15    5              1      1   2
25020  2012  2012111917   2012   11   19   17    5              1      1   3
25021  2012  2012092118   2012    9   21   18    5              0      1   0
25022  2012  2012091417   2012    9   14   17    5              1      1   0
25023  2012  2012090421   2012    9    4   21    5              0      1   6
25024  2012  2012090413   2012    9    4   13    5              1      1   6
25025  2012  2012082014   2012    8   20   14    5              1      1   3
25026  2012  2012080310   2012    8    3   10    5              1      0   0
25027  2012  2012072311   2012    7   23   11    5              1      0   3
25028  2012  2012070919   2012    7    9   19    5              0      1   3
25029  2012  2012062703   2012    6   27    3    5              0      0   2
25030  2012  2012062005   2012    6   20    5    5              0      0   2
25031  2012  2012060602   2012    6    6    2    5              0      0   2
25032  2012  2012042500   2012    4   25    0    5              0      0   2
25033  2012  2012042408   2012    4   24    8    5              1      0   6
25034  2012  2012041520   2012    4   15   20    5              0      1   4
25035  2012  2012032117   2012    3   21   17    5              1      1   2
25036  2012  2012022313   2012    2   23   13    5              1      1   1

         ...     당사자종별_1당  당사자종별_2당_대분류  당사자종별_2당  발생위치X_UTMK  발생위치Y_UTMK  \
0        ...           16             2         4     1000568     1982319
1        ...           16             7        11      981026     1976191
2        ...            9             2         4     1001304     1979393
3        ...           13             5         9      992092     1970357
4        ...           16            11        15      997586     1976060
5        ...            8             6         3      997227     1964433
6        ...            2             7        11      990126     1964658
7        ...            4             2         4     1002505     1988543
8        ...            3             7        11     1004740     1985424
9        ...            4             5         3      992997     1971091
10       ...           14             5        16      999363     1958743
11       ...           14             2         4      988158     1977451
12       ...            8            13        16      993067     1971149
13       ...            2             7        11      987627     1978431
14       ...            4             7        11      999014     1966734
15       ...            7             7        11     1000580     1979581
16       ...           14             0         0      989149     1974925
17       ...            8            13         8      989781     1966445
18       ...            4             7        11      999828     1963920
19       ...            8             2         4      987533     1979478
20       ...           14             2         4      993155     1971216
21       ...           14             7        11      986568     1978116
22       ...           14             5        16      999626     1958223
23       ...           14             5         3      996888     1965519
24       ...           14            10         3      998764     1954986
25       ...            1             2         4     1002181     1956057
26       ...           14             7        11      992957     1972635
27       ...           14             2         4     1000732     1981935
28       ...            4             7        11      998247     1977430
29       ...            4             2         4      992960     1971063
...      ...          ...           ...       ...         ...         ...
25007    ...            1             2         4     1065411     1945507
25008    ...            8             7        11     1060788     1943794
25009    ...           14             5         8     1042367     1948561
25010    ...           14             0         0     1054565     1941609
25011    ...            8             7        11     1050435     1943345
25012    ...            8             9        13     1042679     1943136
25013    ...            8             2         4     1060428     1954066
25014    ...           14             7        11     1043331     1956499
25015    ...           13             7        11     1047930     1942337
25016    ...            8            13        16     1040487     1957066
25017    ...            8            13         3     1050717     1938648
25018    ...            2             7        11     1031715     1935914
25019    ...            8            10         8     1045880     1943903
25020    ...            8             2         4     1034161     1947110
25021    ...           14             5         8     1058366     1935410
25022    ...            3             7        11     1049320     1948336
25023    ...           14             7        11     1042187     1950173
25024    ...           14             0         0     1046678     1945068
25025    ...            3             7        11     1046138     1951161
25026    ...            8             5         8     1053288     1945040
25027    ...           14             2         4     1042916     1943324
25028    ...           14             7        11     1051156     1926120
25029    ...           14             7        11     1064594     1945142
25030    ...            8            13         3     1036360     1953141
25031    ...            8             7        11     1044888     1947530
25032    ...            4             2         4     1042489     1943998
25033    ...            4             7        11     1056626     1945264
25034    ...           14             2         4     1042954     1952776
25035    ...           11             7        11     1035809     1943299
25036    ...            7             7        11     1053912     1928197

               경도         위도  가해자_피해자  가해자_도로형태  가해자_법규위반
0      127.506455  37.840641      109       109       118
1      127.284516  37.785211      114       116       120
2      127.514815  37.814267       36        31        36
3      127.410254  37.732790       88        92        97
4      127.472585  37.784224      118       116       120
5      127.468552  37.679425      113       115       124
6      127.388019  37.681404       41        36        41
7      127.528492  37.896735       36        37        41
8      127.553892  37.868614       16        18        18
9      127.420517  37.739413      112       116       120
10     127.492781  37.628143       76        78        87
11     127.365492  37.796688       36        31        41
12     127.421311  37.739937      120       110       120
13     127.359444  37.805514       41        37        41
14     127.488815  37.700169       41        37        41
15     127.506590  37.815963       78        78        85
16     127.376786  37.773933       34        39        41
17     127.384183  37.697604       47        30        39
18     127.498050  37.674806       41        37        41
19     127.358358  37.814949      109       116       120
20     127.422309  37.740541       50        46        58
21     127.347419  37.802660       41        37        41
22     127.495762  37.623456       39        29        45
23     127.464703  37.689213       39        30        41
24     127.485999  37.594278       81        78        87
25     127.524709  37.603930        3         8         9
26     127.420048  37.753330       78        78        85
27     127.508319  37.837179       36        37        36
28     127.480088  37.796574       78        72        83
29     127.420098  37.739161       36        37        41
...           ...        ...      ...       ...       ...
25007  128.240085  37.506521        3         5         9
25008  128.187580  37.491262       41        37        41
25009  127.979544  37.535393       39        37        41
25010  128.117088  37.472093       48        49        58
25011  128.070788  37.487899      114       116       120
25012  127.982772  37.486431      116       109       125
25013  128.184415  37.584003      109       116       120
25014  127.990924  37.606896      114       116       120
25015  128.042126  37.478985       90        92        97
25016  127.958894  37.612144      120       116       120
25017  128.073368  37.445624      120       116       120
25018  127.858433  37.421828       41        37        41
25019  128.019014  37.493241       56        46        50
25020  127.886596  37.522656      109       116       120
25021  128.159581  37.415988      112       116       124
25022  128.058225  37.533020       16        18        15
25023  127.977599  37.549931       41        37        41
25024  128.029345  37.503237      107       116       124
25025  128.022389  37.558647       16        18        18
25026  128.102895  37.503092      112       109       113
25027  127.985451  37.488165       36        37        41
25028  128.077464  37.332680      114       116       120
25029  128.229668  37.503314      114       116       120
25030  127.911780  37.576931      120       116       124
25031  128.008014  37.525981       78        78        85
25032  127.980660  37.494260       36        37        41
25033  128.140676  37.504912      101       103       108
25034  127.986434  37.573357       36        37        41
25035  127.905060  37.488243       66        63        71
25036  128.108724  37.351245       78        78        85

[25037 rows x 46 columns]

In [21]:
df.dtypes.index

Index(['발생년', '발생년월일시', '발생년.1', '발생월', '발생일', '발생시', '발생분', '주야(6시,18시 기준)',
       '오전/오후', '요일', '요일_주야', '사망자수', '사망자 피해수준(하 0~2 / 중 3~4 / 상 5~)',
       '사상자수', '중상자수', '경상자수', '부상자', '부상자 피해수준(하 0~5 / 중 6~18 / 상 19~)',
       '부상신고자수', '발생지시도', '발생지시군구', '발생지시도군구', '사고유형_대분류', '사고유형_중분류', '사고유형',
       '사망자피해수준_사고유형중분류', '부상자피해수준_사고유형중분류', '발생지_사고유형대분류', '발생지_사고유형중분류',
       '법규위반_대분류', '법규위반', '도로형태_대분류', '도로형태', '도로형태(전체)', '도로형태*법규위반',
       '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류', '당사자종별_2당', '발생위치X_UTMK',
       '발생위치Y_UTMK', '경도', '위도', '가해자_피해자', '가해자_도로형태', '가해자_법규위반'],
      dtype='object')

In [26]:
print(encoder_list)

[LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder(), LabelEncoder()]

In [29]:
df

,발생년,발생년월일시,발생년.1,발생월,발생일,발생시,발생분,"주야(6시,18시 기준)",오전/오후,요일,...,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도,가해자_피해자,가해자_도로형태,가해자_법규위반
0,2017,2017061513,2017,6,15,13,55,1,1,1,...,16,2,4,1000568,1982319,127.506455,37.840641,109,109,118
1,2017,2017052917,2017,5,29,17,50,1,1,3,...,16,7,11,981026,1976191,127.284516,37.785211,114,116,120
2,2017,2017043019,2017,4,30,19,40,0,1,4,...,9,2,4,1001304,1979393,127.514815,37.814267,36,31,36
3,2017,2017011920,2017,1,19,20,35,0,1,1,...,13,5,9,992092,1970357,127.410254,37.732790,88,92,97
4,2017,2017011906,2017,1,19,6,55,1,0,1,...,16,11,15,997586,1976060,127.472585,37.784224,118,116,120
5,2016,2016122417,2016,12,24,17,14,1,1,5,...,8,6,3,997227,1964433,127.468552,37.679425,113,115,124
6,2016,2016122414,2016,12,24,14,45,1,1,5,...,2,7,11,990126,1964658,127.388019,37.681404,41,36,41
7,2016,2016121619,2016,12,16,19,30,0,1,0,...,4,2,4,1002505,1988543,127.528492,37.896735,36,37,41
8,2016,2016111915,2016,11,19,15,30,1,1,5,...,3,7,11,1004740,1985424,127.553892,37.868614,16,18,18
9,2016,2016111405,2016,11,14,5,0,0,0,3,...,4,5,3,992997,1971091,127.420517,37.739413,112,116,120
10,2016,2016110509,2016,11,5,9,40,1,0,5,...,14,5,16,999363,1958743,127.492781,37.628143,76,78,87
11,2016,2016092514,2016,9,25,14,27,1,1,4,...,14,2,4,988158,1977451,127.365492,37.796688,36,31,41
12,2016,2016083106,2016,8,31,6,15,1,0,2,...,8,13,16,993067,1971149,127.421311,37.739937,120,110,120
13,2016,2016081519,2016,8,15,19,30,0,1,3,...,2,7,11,987627,1978431,127.359444,37.805514,41,37,41
14,2016,2016051522,2016,5,15,22,50,0,1,4,...,4,7,11,999014,1966734,127.488815,37.700169,41,37,41
15,2016,2016050815,2016,5,8,15,40,1,1,4,...,7,7,11,1000580,1979581,127.506590,37.815963,78,78,85
16,2016,2016042307,2016,4,23,7,50,1,0,5,...,14,0,0,989149,1974925,127.376786,37.773933,34,39,41
17,2016,2016022707,2016,2,27,7,35,1,0,5,...,8,13,8,989781,1966445,127.384183,37.697604,47,30,39
18,2016,2016011216,2016,1,12,16,39,1,1,6,...,4,7,11,999828,1963920,127.498050,37.674806,41,37,41
19,2016,2016010718,2016,1,7,18,3,0,1,1,...,8,2,4,987533,1979478,127.358358,37.814949,109,116,120
20,2015,2015110621,2015,11,6,21,14,0,1,0,...,14,2,4,993155,1971216,127.422309,37.740541,50,46,58
21,2015,2015110218,2015,11,2,18,20,0,1,3,...,14,7,11,986568,1978116,127.347419,37.802660,41,37,41
22,2015,2015101618,2015,10,16,18,25,0,1,0,...,14,5,16,999626,1958223,127.495762,37.623456,39,29,45
23,2015,2015101116,2015,10,11,16,30,1,1,4,...,14,5,3,996888,1965519,127.464703,37.689213,39,30,41
24,2015,2015100411,2015,10,4,11,30,1,0,4,...,14,10,3,998764,1954986,127.485999,37.594278,81,78,87
25,2015,2015091916,2015,9,19,16,45,1,1,5,...,1,2,4,1002181,1956057,127.524709,37.603930,3,8,9
26,2015,2015091302,2015,9,13,2,0,0,0,4,...,14,7,11,992957,1972635,127.420048,37.753330,78,78,85
27,2015,2015082622,2015,8,26,22,0,0,1,2,...,14,2,4,1000732,1981935,127.508319,37.837179,36,37,36
28,2015,2015080622,2015,8,6,22,40,0,1,1,...,4,7,11,998247,1977430,127.480088,37.796574,78,72,83
29,2015,2015062221,2015,6,22,21,30,0,1,3,...,4,2,4,992960,1971063,127.420098,37.739161,36,37,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25007,2013,2013092708,2013,9,27,8,5,1,0,0,...,1,2,4,1065411,1945507,128.240085,37.506521,3,5,9
25008,2013,2013090815,2013,9,8,15,5,1,1,4,...,8,7,11,1060788,1943794,128.187580,37.491262,41,37,41
25009,2013,2013081814,2013,8,18,14,5,1,1,4,...,14,5,8,1042367,1948561,127.979544,37.535393,39,37,41
25010,2013,2013081410,2013,8,14,10,5,1,0,2,...,14,0,0,1054565,1941609,128.117088,37.472093,48,49,58
25011,2013,2013072918,2013,7,29,18,5,0,1,3,...,8,7,11,1050435,1943345,128.070788,37.487899,114,116,120
25012,2013,2013072617,2013,7,26,17,5,1,1,0,...,8,9,13,1042679,1943136,127.982772,37.486431,116,109,125
25013,2013,2013042116,2013,4,21,16,5,1,1,4,...,8,2,4,1060428,1954066,128.184415,37.584003,109,116,120
25014,2013,2013041508,2013,4,15,8,5,1,0,3,...,14,7,11,1043331,1956499,127.990924,37.606896,114,116,120
25015,2013,2013032514,2013,3,25,14,5,1,1,3,...,13,7,11,1047930,1942337,128.042126,37.478985,90,92,97
25016,2013,2013031520,2013,3,15,20,5,0,1,0,...,8,13,16,1040487,1957066,127.958894,37.612144,120,116,120
25017,2013,2013030705,2013,3,7,5,5,0,0,1,...,8,13,3,1050717,1938648,128.073368,37.445624,120,116,120
25018,2012,2012123018,2012,12,30,18,5,0,1,4,...,2,7,11,1031715,1935914,127.858433,37.421828,41,37,41
25019,2012,2012121215,2012,12,12,15,5,1,1,2,...,8,10,8,1045880,1943903,128.019014,37.493241,56,46,50
25020,2012,2012111917,2012,11,19,17,5,1,1,3,...,8,2,4,1034161,1947110,127.886596,37.522656,109,116,120
25021,2012,2012092118,2012,9,21,18,5,0,1,0,...,14,5,8,1058366,1935410,128.159581,37.415988,112,116,124
25022,2012,2012091417,2012,9,14,17,5,1,1,0,...,3,7,11,1049320,1948336,128.058225,37.533020,16,18,15
25023,2012,2012090421,2012,9,4,21,5,0,1,6,...,14,7,11,1042187,1950173,127.977599,37.549931,41,37,41
25024,2012,2012090413,2012,9,4,13,5,1,1,6,...,14,0,0,1046678,1945068,128.029345,37.503237,107,116,124
25025,2012,2012082014,2012,8,20,14,5,1,1,3,...,3,7,11,1046138,1951161,128.022389,37.558647,16,18,18
25026,2012,2012080310,2012,8,3,10,5,1,0,0,...,8,5,8,1053288,1945040,128.102895,37.503092,112,109,113
25027,2012,2012072311,2012,7,23,11,5,1,0,3,...,14,2,4,1042916,1943324,127.985451,37.488165,36,37,41
25028,2012,2012070919,2012,7,9,19,5,0,1,3,...,14,7,11,1051156,1926120,128.077464,37.332680,114,116,120
25029,2012,2012062703,2012,6,27,3,5,0,0,2,...,14,7,11,1064594,1945142,128.229668,37.503314,114,116,120
25030,2012,2012062005,2012,6,20,5,5,0,0,2,...,8,13,3,1036360,1953141,127.911780,37.576931,120,116,124
25031,2012,2012060602,2012,6,6,2,5,0,0,2,...,8,7,11,1044888,1947530,128.008014,37.525981,78,78,85
25032,2012,2012042500,2012,4,25,0,5,0,0,2,...,4,2,4,1042489,1943998,127.980660,37.494260,36,37,41
25033,2012,2012042408,2012,4,24,8,5,1,0,6,...,4,7,11,1056626,1945264,128.140676,37.504912,101,103,108
25034,2012,2012041520,2012,4,15,20,5,0,1,4,...,14,2,4,1042954,1952776,127.986434,37.573357,36,37,41
25035,2012,2012032117,2012,3,21,17,5,1,1,2,...,11,7,11,1035809,1943299,127.905060,37.488243,66,63,71
25036,2012,2012022313,2012,2,23,13,5,1,1,1,...,7,7,11,1053912,1928197,128.108724,37.351245,78,78,85

In [31]:
df[query_index].values

array([[ 1,  1,  1, ...,  3, 11,  2],
       [ 1,  3,  1, ...,  8, 11,  7],
       [ 0,  4,  1, ...,  4,  5,  2],
       ...,
       [ 0,  4,  1, ...,  8,  5,  2],
       [ 1,  2,  1, ...,  8,  7,  7],
       [ 1,  1,  1, ...,  8,  8,  7]])